
.card{
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
    max-width: auto;
    margin: 20px;
    text-align: center;
    border-radius: 25px;
    padding: 20px;
}


.card-user{
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
    max-width: 300px;
    margin: 20px;
    text-align: center;
    border-radius: 25px;
    padding: 20px;
}

.title-name {
  text-shadow: 2px 2px rgb(140, 140, 140);
  font-size: 22px;
}


.profile-img{
    max-width: 100%;
    max-height: 100%;
    border-radius: 180px;
    margin: 20px;
}

