.card{
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
    max-width: auto;
    margin: 20px;
    text-align: center;
    color: rgba(242, 242, 242);
    border-radius: 25px;
    background: rgb(163, 115, 191);
    padding: 20px;
}


.card-user{
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
    max-width: 300px;
    margin: 20px;
    text-align: center;
    color: rgba(242, 242, 242);
    border-radius: 25px;
    background: rgb(163, 115, 191);
    padding: 20px;
}

.title-name {
  text-shadow: 2px 2px rgb(140, 140, 140);
  font-size: 22px;
}


img{
    max-width: 100%;
    max-height: 100%;
    border-radius: 180px;
    margin: 20px;
}



.navbar{
background-color: #663a82;
}

.navbar-brand{
 font-family:'Pacifico', cursive;

}

.index{
background-image: url("https://www.ancient-origins.net/sites/default/files/field/image/Piri-Reis-sml.jpg");
background-repeat: no-repeat; /* Do not repeat the image */
background-size: cover;
}

.search{
    border: 1px solid grey;
    border-radius: 12px;
    height: 40px;
    width: 100%;
    padding-left: 20px;
    outline: 0;
    background-color: #ffffff;
    background-image: url("https://media.discordapp.net/attachments/579823439167094806/785639801742557184/unknown.png");
    background-repeat: no-repeat;
    background-position: right;

}

.profile-body {
  position: static;
  margin: 100px;
  background-color: rgba(102, 58, 130, 0.7);


}

.login-box{
    position: absolute;
    width: 400px;
    height: 600px;
    background-color: #ffffff;
    font-size: 20px;

}

.row{margin-top: 20px;}
