/* CSS for navigation bar starts here */
.navbar{
    background-color: #663a82;
}

.navbar-brand{
    font-family:'Pacifico', cursive;
    color: white;
}

.navigation-link{
    color: white;
}

.navigation-link:hover{
    color: white;
}
/* CSS for navigation bar ends here*/


.index{
    background-image: url("https://www.ancient-origins.net/sites/default/files/field/image/Piri-Reis-sml.jpg");
    height: 100vh;
    background-repeat: no-repeat; /* Do not repeat the image */
    background-size: cover;
}

.search{
    border: 1px solid grey;
    border-radius: 12px;
    height: 40px;
    width: 100%;
    padding-left: 20px;
    outline: 0;
    background-color: #ffffff;
    background-image: url("https://media.discordapp.net/attachments/579823439167094806/785639801742557184/unknown.png");
    background-repeat: no-repeat;
    background-position: right;

}

.button1 {
  display: inline-block;
  border-radius: 12px;
  background-color: #FF8242;
  border: none;
  color: #FFFFFF;
  text-align: center;
  font-size: 28px;
  font-family: "Pacifico", cursive;
  padding: 20px;
  width: 100%;
  transition: all 0.5s;
  cursor: pointer;
  margin-top: 5px;
}

.button1 span {
  cursor: pointer;
  display: inline-block;
  position: relative;
  transition: 0.5s;
}

.button1 span:after {
  content: '\00bb';
  position: absolute;
  opacity: 0;
  top: 0;
  right: -20px;
  transition: 0.5s;
}

.button1:hover span {
  padding-right: 25px;
}

.button1:hover span:after {
  opacity: 1;
  right: 0;
}


.centered {
  position: fixed;
  top: 50%;
  left: 50%;
  /* bring your own prefixes */
  transform: translate(-50%, -50%);
}


.login-box{
    position: absolute;
    width: 400px;
    height: 600px;
    background-color: #ffffff;

    font-size: 20px;

}

/* CSS for login.html & register.html starts here */
.login-form{
    border: 1px solid #f6f8fa;
    border-radius: 5px;
    padding: 25px;
    background-color: #eaecef;
}

.login-input{
    display: inline-block;
}

.login-btn{
    padding: 6px 120px;
}

.login-header{
    font-family: 'Merriweather', serif;
}

.register-btn{
    padding: 6px 50px;
    margin: 0 50px;
}

/*css for city Card starts here*/


.card {
    margin-left: 18%;
    margin-right: 18%;
    width: auto;
}

.wrapper {
    position: relative;
    display: inline-block;
    overflow: hidden;
}

.wrapper:hover a {
    opacity: 1;
    top: 0;
    z-index: 500;
}

.wrapper:hover a span {
    top: 50%;
    position: absolute;
    left: 0;
    right: 0;
    transform: translateY(-50%);
}

.wrapper a {
    display: block;
    position: absolute;
    top: 0;
    opacity: 1;
    left: 0;
    bottom: 0;
    right: 0;
    margin-left: 80%;
    margin-top: -65%;
}

#cityCard{
    background-color: #F8F8FF;
    transition:.3s;

}

.cityCardImage{
    width:360px;
    height:190px;
}

.carouselCity{
    margin-top: 5px;
    margin-left: 20px;
}

#cityCard:hover{
    box-shadow: 5px 5px 5px #FF6347;
    transform: scale(1.1);
}


#cityCardStar{
    margin-top: -10px;
    margin-left: 20px;
}

.checkSquareCityCard{
    color: #00e600;
}


.crossCircleCityCard{
    color: #cc0000;
}

.questionCircleIconCityCard{
    color:   #ff80bf;
}

.safe{
    margin-top: -40px;
    margin-left: 140px;
}

.transportation{
    margin-top: -40px;
    margin-left: 220px;
}

.school{
    margin-top: -40px;
    margin-left: 140px;
}

<<<<<<< HEAD
#sort-by-dropdown-btn{
  background-color: #2E8B57 !important;
  margin-left: 280%;
=======

/*css for city Card ends here*/

/*css for search view starts here*/

#search-btn{
background-color: #FF8C00 !important;
}

.fa-search{
color: #FFF0F5 !important;
}

#sort-by-dropdown-btn{
  background-color: #2E8B57 !important;
  margin-left: 100%;
>>>>>>> origin/merge-conflicts
}

#filter-btn-toolbar{
  padding: 20px 0px;
  margin-left: 8%;
}

#no-results{
    font-family: 'Merriweather', serif;
    font-size: 42px;
    text-align:center;
}

/*css for search view ends here*/

/*css for view page starts here*/
.city-view-header{
    font-family: 'Merriweather', serif;
    border: 5px solid #606060;
    border-radius: 5px;
    padding: 25px;
    position: relative;
    margin:20px 20px 20px 20px;
    text-align:left;
    overflow:auto;

}

.city-image{
    float: left;
    width:250px;
    height:250px;
    }

.city-ratings{
    font-family: 'Merriweather', serif;
    border: 1px solid #606060;

    position: relative;
    padding: 25px;

}

.checked{
    color: orange;
}



.button2{
    position: absolute;
    right: 50px;
    top: 25px;
}

.wrapper b:hover a span {
    top: 50%;
    position: absolute;
    left: 0;
    right: 0;
    transform: translateY(-50%);
}

#search-background{
    background-color: #f6f8fa
}



/*css for view page ends here*/

/* css display star ratings starts*/


@charset "UTF-8";
:root {
  --star-size: 40px;
  --star-color: #fff;
  --star-background: #fc0;
}

.Stars {
  --percent: calc(var(--rating) / 5 * 100%);
  display: inline-block;
  font-size: var(--star-size);
  font-family: Times;
  line-height: 1;
}
.Stars::before {
  content: '★★★★★';
  letter-spacing: 3px;
  background: linear-gradient(90deg, var(--star-background) var(--percent), var(--star-color) var(--percent));
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}
/* css display star ratings ends */

/* ratings page*/

.starrating > input {display: none;}  /* Remove radio buttons */

.starrating > label:before {
  content: "\f005"; /* Star */
  margin: 15px;
  font-size: 4.5vw;
  font-family: FontAwesome;
  display: inline-block;
}

.starrating > label
{
  color: #222222; /* Start color when not clicked */
}


.starrating > input:checked ~ label
{ color: #ffca08 ; } /* Set yellow color when star checked */

.starrating > input:hover ~ label
{ color: #ffca08 ;  } /* Set yellow color when star hover */
/*ratings ends*/

/* CSS for login.html & register.html  starts here */

.login-register-container{
    width: 400px;
    height: auto;
    margin: 0 auto;
    padding: 50px 0;
}

.login-register-form{
    border: 1px solid #f6f8fa;
    border-radius: 5px;
    padding: 25px;
    margin-bottom: 5px;
    background-color: #f2f2f7;
}

.login-register-input{
    display: inline-block;
}

.login-register-header{
    font-family: 'Merriweather', serif;
}

/* CSS for login.html & register.html  ends here */


/* CSS for footer starts here */
.footer-links{
      display: inline;
      color: black;
      text-align: center;
      padding: 16px;
      text-decoration: none;
      font-size: 12px;
}

.footer-links:hover{
    color:black;

}

.footer-container{
    border-top: 1px solid #f7f8fa;
    padding: 15px 0;
}
/* CSS for footer ends here */

.register-btn{
    padding: 6px 50px;
    margin: 0 50px;
}

/* CSS for error message starts here */

.error{
    color: red;
    font-style: italic;
}
/* CSS for error message ends here */

/* CSS for Search button starts here */
.search-btn-container{
    border-bottom: 1px solid #d7d8d9;
    padding: 15px 0;
}

.top-search-btn{
    width: 600px;
    max-width: 90%;
    margin: 0 auto;
}

.input-group-lg > .form-control{
    border-top-left-radius: 1.25rem !important;
    border-bottom-left-radius: 1.25rem !important;
}

#search-btn{
    background-color: #FF8C00 !important;
    border-top-right-radius: 1.25rem !important;
    border-bottom-right-radius: 1.25rem !important;
}

.fa-search{
    color: #FFF0F5 !important;
}

/* CSS for Search Button ends here */


/* CSS for city-view page starts here */

.save-compare-btn{
    margin-right: 10px;
}

.city-view-card{
    width: 900px;
    max-width: 90%;
    margin: 35px auto;
}

.city-rating-card{
    width: 600px;
    max-width: 90%;
    margin: 25px auto;
}

.rating-category{
    font-size: 1.5rem;
}

.review-display{
    padding: 25px !important;
}

.review-header{
    text-align: center;
    font-family: 'Merriweather', serif;
    margin:35px 0;

}

.review-date{
    font-size: 12px;
    font-style: italic;
    text-align: right;
}

/* CSS for city-view page ends here */

/* CSS for image-uploading function starts here */

.imagePreview {
    width: 100%;
    height: 180px;
    background-color:#fff;
    background-size: cover;
    background-repeat:no-repeat;
    display: inline-block;
    box-shadow:0px -3px 6px 2px rgba(0,0,0,0.2);
}

.imgUp{
    margin-bottom:15px;
}

.del{
    position:absolute;
    top:0px;
    right:0px;
    width:22px;
    height:22px;
    border-radius: 50%;
    text-align:center;
    line-height:30px;
    color: white;
    background-color:red;
    cursor:pointer;
}

.imgAdd{
    width:22px;
    height:22px;
    border-radius:50%;
    background-color:green;
    color:#fff;
    box-shadow:0px 0px 2px 1px rgba(0,0,0,0.2);
    text-align:center;
    line-height:30px;
    margin-top:0px;
    cursor:pointer;
    font-size:15px;
}
/* CSS for image-uploading function ends here */
