.navbar{
background-color: #663a82;
}

.navbar-brand{
 font-family:'Pacifico', cursive;

}

.index{
background-image: url("https://www.ancient-origins.net/sites/default/files/field/image/Piri-Reis-sml.jpg");
height: 500px;
 background-repeat: no-repeat; /* Do not repeat the image */
background-size: cover;
}

.search{
    border: 1px solid grey;
    border-radius: 12px;
    height: 40px;
    width: 100%;
    padding-left: 20px;
    outline: 0;
    background-color: #ffffff;
    background-image: url("https://media.discordapp.net/attachments/579823439167094806/785639801742557184/unknown.png");
    background-repeat: no-repeat;
    background-position: right;

}

.button1 {
  display: inline-block;
  border-radius: 12px;
  background-color: #FF8242;
  border: none;
  color: #FFFFFF;
  text-align: center;
  font-size: 28px;
  font-family: "Pacifico", cursive;
  padding: 20px;
  width: 100%;
  transition: all 0.5s;
  cursor: pointer;
  margin-top: 5px;
}

.button1 span {
  cursor: pointer;
  display: inline-block;
  position: relative;
  transition: 0.5s;
}

.button1 span:after {
  content: '\00bb';
  position: absolute;
  opacity: 0;
  top: 0;
  right: -20px;
  transition: 0.5s;
}

.button1:hover span {
  padding-right: 25px;
}

.button1:hover span:after {
  opacity: 1;
  right: 0;
}


.centered {
  position: fixed;
  top: 50%;
  left: 50%;
  /* bring your own prefixes */
  transform: translate(-50%, -50%);
}

.login-box{
    position: absolute;
    width: 400px;
    height: 600px;
    background-color: #ffffff;

    font-size: 20px;

}

/* CSS for login.html & register.html starts here */
.login-form{
    border: 1px solid #f6f8fa;
    border-radius: 5px;
    padding: 25px;
    background-color: #eaecef;
}

.login-input{
    display: inline-block;
}

.login-btn{
    padding: 6px 120px;
}

.login-header{
    font-family: 'Merriweather', serif;
}

.register-btn{
    padding: 6px 50px;
    margin: 0 50px;
}

.card {
    margin-left: 18%;
    margin-right: 18%;
    width: auto;
}

.wrapper {
    position: relative;
    display: inline-block;
    overflow: hidden;
}

.wrapper:hover a {
    opacity: 1;
    top: 0;
    z-index: 500;
}

.wrapper:hover a span {
    top: 50%;
    position: absolute;
    left: 0;
    right: 0;
    transform: translateY(-50%);
}

.wrapper a {
    display: block;
    position: absolute;
    top: 0;
    opacity: 0;
    left: 0;
    bottom: 0;
    right: 0;
    margin-left: 80%;
    margin-top: -55%;
}

#search-btn{
background-color: #FF8C00 !important;
}

.fa-search{
color: #FFF0F5 !important;
}

#sort-by-dropdown-btn{
  background-color: #2E8B57 !important;
  margin-left: 280%;
}

#search-input-group {
    margin-left: 13%;
}

#filter-btn-toolbar{
  padding: 20px 0px;
  margin-left: 8%;
}




















