.navbar{
background-color: #663a82;
}

.navbar-brand{
 font-family:'Pacifico', cursive;
}

.navbar a{
color: white;
}

.index{
background-image: url("https://www.ancient-origins.net/sites/default/files/field/image/Piri-Reis-sml.jpg");
height: 100vh;
background-repeat: no-repeat; /* Do not repeat the image */
background-size: cover;
}

.search{
    border: 1px solid grey;
    border-radius: 12px;
    height: 40px;
    width: 100%;
    padding-left: 20px;
    outline: 0;
    background-color: #ffffff;
    background-image: url("https://media.discordapp.net/attachments/579823439167094806/785639801742557184/unknown.png");
    background-repeat: no-repeat;
    background-position: right;

}

.button1 {
  display: inline-block;
  border-radius: 12px;
  background-color: #FF8242;
  border: none;
  color: #FFFFFF;
  text-align: center;
  font-size: 28px;
  font-family: "Pacifico", cursive;
  padding: 20px;
  width: 100%;
  transition: all 0.5s;
  cursor: pointer;
  margin-top: 5px;
}

.button1 span {
  cursor: pointer;
  display: inline-block;
  position: relative;
  transition: 0.5s;
}

.button1 span:after {
  content: '\00bb';
  position: absolute;
  opacity: 0;
  top: 0;
  right: -20px;
  transition: 0.5s;
}

.button1:hover span {
  padding-right: 25px;
}

.button1:hover span:after {
  opacity: 1;
  right: 0;
}


.centered {
  position: fixed;
  top: 50%;
  left: 50%;
  /* bring your own prefixes */
  transform: translate(-50%, -50%);
}

.login-box{
    position: absolute;
    width: 400px;
    height: 600px;
    background-color: #ffffff;

    font-size: 20px;

}

/* CSS for login.html & register.html starts here */
.login-register-container{
    width: 400px;
    height: auto;
    margin: 0 auto;
    padding: 50px 0;
}

.login-register-form{
    border: 1px solid #f6f8fa;
    border-radius: 5px;
    padding: 25px;
    margin-bottom: 5px;
    background-color: #f2f2f7;
}

.login-register-input{
    display: inline-block;
}

.login-register-header{
    font-family: 'Merriweather', serif;
}

/* CSS for login.html & register.html  ends here */

/* CSS for footer starts here */
.footer-links{
      display: inline;
      color: black;
      text-align: center;
      padding: 16px;
      text-decoration: none;
      font-size: 12px;
}

.footer-container{
    border-top: 1px solid #f7f8fa;
    padding: 15px 0;
}
/* CSS for footer ends here */
