/* CSS for navigation bar starts here */
.navbar{
    background-color: #663a82;
    z-index:1;
}

.navbar-brand{
    font-family:'Pacifico', cursive;
    color: white;
}

.navigation-link{
    color: white;
}

.navigation-link:hover{
    color: white;
}
/* CSS for navigation bar ends here*/


/*CSS for index page starts here */

.index{
    background-image: url("../images/pirireismap.png");
    background-repeat: no-repeat; /* Do not repeat the image */
    background-size: cover;
    background-attachment: fixed;
}

.index-intro-wrapper{
    background-color: #FF8242;
}

.index-wrapper{
    background-color: #663a82;
    opacity: 0.9;
}

.index-intro-jumbo{
    background-color: #FF8242 !important;
    background: none;
    color: #fff;
}

.index-welcome-header{
    text-shadow: 1px 1px 1px #000;
}

.join-piri-btn{
    font-size: 1.5rem !important;
}

.index-search-container{
    padding: 50px;
}

.index-search-header{
    color: #663a82;
}

.index-search-box{
    width: 75%;
    margin: 0 auto;
    padding: 45px 0;
}
.index-search-input{
    border: 1px solid grey;
    border-radius: 12px;
    width: 100%;
    height: 50px;
    padding-left: 20px;
    outline: 0;
    background-color: #ffffff;
    background-image: url("https://media.discordapp.net/attachments/579823439167094806/785639801742557184/unknown.png");
    background-repeat: no-repeat;
    background-position: right;
    margin-bottom: 5px;
}

.index-search-btn{
    display: inline-block;
    border-radius: 12px;
    background-color: #FF8242;
    border: none;
    color: #FFFFFF;
    text-align: center;
    font-size: 1.5rem;
    font-family: "Pacifico", cursive;
    padding: 10px;
    width: 40%;
    transition: all 0.5s;
    cursor: pointer;
}

.index-search-btn span {
  cursor: pointer;
  display: inline-block;
  position: relative;
  transition: 0.5s;
}

.index-search-btn span:after {
  content: '\00bb';
  position: absolute;
  opacity: 0;
  top: 0;
  right: -20px;
  transition: 0.5s;
}

.index-search-btn:hover span {
  padding-right: 25px;
}

.index-search-btn:hover span:after {
  opacity: 1;
  right: 0;
}

.index-best-rated-container{
    padding: 35px 0;
}

.index-top-rated-box{
    margin: 0 auto 15px auto;
    width: 75%;
}

.top-rated-header{
    color: #fff;
}

.top-rated-list{
    border: none;
    border-radius: 0 0 10px 10px;
    background-color: #fff;
    color: black;
    padding: 15px 0 5px 15px;
}

.top-rated-title{
    border: none;
    border-radius: 10px 10px 0 0;
    background-color: #FF8242;
    color: white;
    padding: 10px 0;
}

.index-footer{
    background-color: #fff;
}

/* CSS for index page ends here */

.centered {
  position: fixed;
  top: 50%;
  left: 50%;
  /* bring your own prefixes */
  transform: translate(-50%, -50%);
}


.login-box{
    position: absolute;
    width: 400px;
    height: 600px;
    background-color: #ffffff;

    font-size: 20px;

}

/* CSS for login.html & register.html starts here */
.login-form{
    border: 1px solid #f6f8fa;
    border-radius: 5px;
    padding: 25px;
    background-color: #eaecef;
}

.login-input{
    display: inline-block;
}

.login-btn{
    padding: 6px 120px;
}

.login-header{
    font-family: 'Merriweather', serif;
}

.register-btn{
    padding: 6px 50px;
    margin: 0 50px;
}

/*css for city Card starts here*/


.card {
    margin-left: 18%;
    margin-right: 18%;
    width: auto;
}

.wrapper {
    position: relative;
    display: inline-block;
    overflow: hidden;
}

.wrapper:hover a {
    opacity: 1;
    top: 0;
    z-index: 500;
}

.wrapper:hover a span {
    top: 50%;
    position: absolute;
    left: 0;
    right: 0;
    transform: translateY(-50%);
}

.wrapper a {
    display: block;
    position: absolute;
    top: 0;
    opacity: 1;
    left: 0;
    bottom: 0;
    right: 0;
    margin-left: 80%;
    margin-top: -65%;
}

#cityCard{
    background-color: #F8F8FF;
    transition:.3s;

}

.cityCardImage{
    width:360px;
    height:190px;
}

.carouselCity{
    margin-top: 5px;
    margin-left: 20px;
}

#cityCard:hover{
    box-shadow: 5px 5px 5px #FF6347;
    transform: scale(1.1);
}


#cityCardStar{
    margin-top: -10px;
    margin-left: 20px;
}

.checkSquareCityCard{
    color: #00e600;
}


.crossCircleCityCard{
    color: #cc0000;
}

.questionCircleIconCityCard{
    color:   #ff80bf;
}

.safe{
    margin-top: -40px;
    margin-left: 140px;
}

.transportation{
    margin-top: -40px;
    margin-left: 220px;
}

.school{
    margin-top: -40px;
    margin-left: 140px;
}

#sort-by-dropdown-btn{
  background-color: #2E8B57 !important;
  margin-left: 280%;

/*css for city Card ends here*/

/*css for search view starts here*/

#search-btn{
background-color: #FF8C00 !important;
}

.fa-search{
color: #FFF0F5 !important;
}

#sort-by-dropdown-btn{
  background-color: #2E8B57 !important;
}

#filter-btn-toolbar{
  padding: 20px 0px;
}

.search-sort-bar{
    margin-left: 23%;
}

#no-results{
    font-family: 'Merriweather', serif;
    font-size: 42px;
    text-align:center;
}


/*css for search view ends here*/

/*css for view page starts here*/
.city-view-header{
    font-family: 'Merriweather', serif;
    border: 5px solid #606060;
    border-radius: 5px;
    padding: 25px;
    position: relative;
    margin:20px 20px 20px 20px;
    text-align:left;
    overflow:auto;

}

.city-image{
    float: left;
    width:250px;
    height:250px;
    }

.city-ratings{
    font-family: 'Merriweather', serif;
    border: 1px solid #606060;

    position: relative;
    padding: 25px;

}

.checked{
    color: orange;
}



.button2{
    position: absolute;
    right: 50px;
    top: 25px;
}

.wrapper b:hover a span {
    top: 50%;
    position: absolute;
    left: 0;
    right: 0;
    transform: translateY(-50%);
}

#search-background{
    background-color: #f6f8fa
}

.sort-btn-view{
    margin-top: 35px;
    margin-left: 10px;
}

/*css for view page ends here*/

/* css display star ratings starts*/


@charset "UTF-8";
:root {
  --star-size: 40px;
  --star-color: #fff;
  --star-background: #fc0;
}

.Stars {
  --percent: calc(var(--rating) / 5 * 100%);
  display: inline-block;
  font-size: var(--star-size);
  font-family: Times;
  line-height: 1;
  margin-top:20 px;
}
.Stars::before {

  content: '★★★★★';
  letter-spacing: 3px;
  background: linear-gradient(90deg, var(--star-background) var(--percent), var(--star-color) var(--percent));
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}
/* css display star ratings ends */

/* ratings page*/

.starrating > input {display: none;}  /* Remove radio buttons */

.starrating > label:before {
  content: "\f005"; /* Star */
  margin: 10px;
  font-size: 3.5vw;
  font-family: FontAwesome;
  display: inline-block;
}

.starrating > label
{
  color: #222222; /* Start color when not clicked */
}


.starrating > input:checked ~ label
{ color: #ffca08 ; } /* Set yellow color when star checked */

.starrating > input:hover ~ label
{ color: #ffca08 ;  } /* Set yellow color when star hover */
/*ratings ends*/




.starratingO > input {display: none;}  /* Remove radio buttons */

.starratingO > label:before {
  content: "\f005"; /* Star */
  margin: 15px;
  font-size: 5vw;
  font-family: FontAwesome;
  display: inline-block;
}

.starratingO > label
{
  color: #222222; /* Start color when not clicked */
}

.starratingO > input:checked ~ label
{ color: #ffca08 ; } /* Set yellow color when star checked */

.starratingO > input:hover ~ label
{ color: #ffca08 ;  } /* Set yellow color when star hover */
/*ratings ends*/

/* CSS for login.html & register.html  starts here */

.login-register-container{
    width: 400px;
    height: auto;
    margin: 0 auto;
    padding: 50px 0;
}

.login-register-form{
    border: 1px solid #f6f8fa;
    border-radius: 5px;
    padding: 25px;
    margin-bottom: 5px;
    background-color: #f2f2f7;
}

.login-register-input{
    display: inline-block;
}

.login-register-header{
    font-family: 'Merriweather', serif;
}

/* CSS for login.html & register.html  ends here */


/* CSS for footer starts here */
.footer-links{
      display: inline;
      color: black;
      text-align: center;
      padding: 16px;
      text-decoration: none;
      font-size: 12px;
}

.footer-links:hover{
    color:black;

}

.footer-container{
    border-top: 1px solid #f7f8fa;
    padding: 15px 0;
}
/* CSS for footer ends here */

.register-btn{
    padding: 6px 50px;
    margin: 0 50px;
}

/* CSS for error message starts here */

.error{
    color: red;
    font-style: italic;
}
/* CSS for error message ends here */

/* CSS for Search button starts here */
.search-btn-container{
    border-bottom: 1px solid #d7d8d9;
    padding: 15px 0;
}

.top-search-btn{
    width: 600px;
    max-width: 90%;
    margin: 0 auto;
}

.input-group-lg > .form-control{
    border-top-left-radius: 1.25rem !important;
    border-bottom-left-radius: 1.25rem !important;
}

#search-btn{
    background-color: #FF8C00 !important;
    border-top-right-radius: 1.25rem !important;
    border-bottom-right-radius: 1.25rem !important;
}

.fa-search{
    color: #FFF0F5 !important;
}

/* CSS for Search Button ends here */


/* CSS for city-view page starts here */

.save-compare-btn{
    margin-right: 10px;
}

.city-view-card{
    width: 900px;
    max-width: 90%;
    margin: 35px auto;
}

.city-rating-card{
    width: 600px;
    max-width: 90%;
    margin: 25px auto;
}

.rating-category{
    font-size: 1.5rem;
}

.review-display{
    padding: 25px !important;
}

.review-header{
    text-align: center;
    font-family: 'Merriweather', serif;
    margin:35px 0;

}

.review-date{
    font-size: 12px;
    font-style: italic;
    text-align: right;
}

/* CSS for city-view page ends here */

/* CSS for review submission form starts here */

.city-title{
    color: #FF8242;
}

.review-submission-container{
    margin: 20px 0;
}

.review-submission-table{
    background-color: #fff;
    border: 1px solid #ced4da;
    margin: 0 auto;
    width: 75%;
}

.review-submission-table td{
    padding: 0px 0px 0px 20px;
}

/* CSS for review submission form ends here */


/* CSS for image-uploading function starts here */

.imagePreview {
    width: 100%;
    height: 180px;
    background-color:#fff;
    background-image: url("../images/camera.jpg");
    background-size: cover;
    background-repeat:no-repeat;
    display: inline-block;

}

.imgUp{
    margin-bottom:15px;
}

.del{
    position:absolute;
    top:0px;
    right:0px;
    width:22px;
    height:22px;
    border-radius: 50%;
    text-align:center;
    line-height:30px;
    color: white;
    background-color:red;
    cursor:pointer;
}

.imgAdd{
    width:22px;
    height:22px;
    border-radius:50%;
    background-color:green;
    color:#fff;
    box-shadow:0px 0px 2px 1px rgba(0,0,0,0.2);
    text-align:center;
    line-height:30px;
    margin-top:0px;
    cursor:pointer;
    font-size:15px;
}

.upload-btn{
    margin-top: -10px;
    width: 100%;
    border-radius: 0px !important;
}

/* CSS for image-uploading function ends here */

/*CSS for Compare starts here */

.compare-box{
 margin: 20px 0px 5px 10px;
 padding: 10px;
 width: 50vh;
}

.splitscreen h3{
padding-top: 20px;
}

.splitscreen {
width: 100vw;
margin-top: 100px;
display: flex;
align-items: flext-start;
align-content: flex-start;
text-align: center;
justify-content: center;
}

.splitscreen .box{
    flex-grow: 1;
    flex: 1;

}

.splitscreen .middle{
    min-width: 200px;
    font-size: 20px;
    box-shadow: 10px 10px 5px grey;
    border: 1px outset lightgrey;
    background-color: white;
    margin-left: 6px;
    margin-right: 6px;
    o
}

.splitscreen table{
margin: 0 auto;
margin-top: 20px;
 }

.split {
width: 50vw;
margin-top: 50px;
display: flex;
align-items: center;
align-content: flex-start;
text-align: center;
justify-content: center;
box-shadow: 10px 10px 5px grey;
border: 1px outset lightgrey;
margin-bottom: 20px;
}

.split .box{
    flex-grow: 1;
    flex: 1;

}

.split table{
margin: 0 auto;
margin-top: 20px;
 }

.equal{ color: green; }

.leftbetter{ color: blue; }

.rightbetter{ color: red; }

.SmallStars{
  --percent: calc(var(--rating) / 5 * 100%);
  display: inline-block;
  font-size: 20px;
  font-family: Times;
  line-height: 1;
}
.SmallStars::before {
  content: '★★★★★';
  letter-spacing: 3px;
  background: linear-gradient(90deg, var(--star-background) var(--percent), var(--star-color) var(--percent));
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.compNav{
width: 50%;
margin: 0 auto;
padding-top: 50px;
}

.scrollable{
overflow-y:auto;
overflow-x:auto;
background-color: #f6f6f6;
}