<!DOCTYPE html>
<html lang="en" xmlns:th="https://www.thymeleaf.org/">
<head th:replace="fragments :: head">
</head>


<body class="scrollable">
    <div th:if="${session.user}">
        <div th:replace="fragments :: header-authenticated" class="navbar navbar-inverse navbar-fixed-top"></div>
    </div>
    <div th:unless="${session.user}">
        <div th:replace="fragments :: header-anonymous" class="navbar navbar-inverse navbar-fixed-top"></div>
    </div>


<div>
    <!-- if neither cities are present -->
    <div th:if="${cityOne == null && cityTwo == null}">

        <div class="compNav">
            <form th:action="@{'/page/' + 1}" method="get" >
                <input type="text" class="search" id="searchTerm" name="searchTerm" placeholder="Enter a State, City, or Zip Code"/>
                <button type="submit" class="button1" value="Search"  ><span>Find Your First City</span></button>
            </form>
        </div>
    </div>

    <!-- if one city is present -->

    <div th:if="${cityOne != null && cityTwo == null}">
        <div class="compNav">
            <form th:action="@{'/compare/'+ ${cityOne.id} +'/page/' + 1}" method="get">


                <input type="text" class="search" id="searchTerm" name="searchTerm" placeholder="Enter a State, City, or Zip Code"/>
                <button type="submit" class="button1" value="Search"  ><span>Find Your Second City</span></button>

            </form>
            <div class="split">
                <div class="box">
                    <div th:if="${cityOne.images == null}">
                        <img src="/images/default.jpg" alt="..." class="img-fluid">
                    </div>
                    <div th:unless="${cityOne.images == null}">
                        <img class="d-block w-100" th:src="@{'data:image/jpeg;base64,' + ${cityOne.getImages().get(0)}}" alt="First slide">
                    </div>
                    <h3 th:text="${cityOne.cityName} +', ' +${cityOne.stateName}" ></h3>
                </div>
                <div class="box">
                    <h4>Overall Rating:
                        <div class="Stars" th:style="|--rating: ${cityOne.overallCityRating}|" ></div></h4>

                    <table>
                        <tr>
                            <td>Affordability:</td>
                            <td><div class="SmallStars" th:style="|--rating: ${cityOne.overallAffordabilityRating}|" ></div></td>
                        </tr>
                        <tr>
                            <td>Safety:</td>
                            <td><div class="SmallStars" th:style="|--rating: ${cityOne.overallSafetyRating}|" ></div></td>
                        </tr>
                        <tr>
                            <td>Transportation:</td>
                            <td><div class="SmallStars" th:style="|--rating: ${cityOne.overallTransportationRating}|" ></div></td>
                        </tr>
                        <tr>
                            <td>Job Growth:</td>
                            <td><div class="SmallStars" th:style="|--rating: ${cityOne.overallJobGrowthRating}|" ></div></td>
                        </tr>
                    </table>
                </div>
            </div>
        </div>
    </div>


    <!-- if both cities are present -->

    <div th:if="${cityOne != null && cityTwo != null}">

        <div class="splitscreen">
            <div class="box">
                <div class="compare-box">
                    <div th:if="${cityOne.images == null}">
                        <img src="/images/default.jpg" alt="..." class="img-fluid">
                    </div>
                    <div th:unless="${cityOne.images == null}">
                        <img class="d-block w-100" th:src="@{'data:image/jpeg;base64,' + ${cityOne.getImages().get(0)}}" alt="First slide">
                    </div>
                    <h3 th:text="${cityOne.cityName} +', ' +${cityOne.stateName}" ></h3>
                    <h4>Overall Rating:
                        <div class="Stars" th:style="|--rating: ${cityOne.overallCityRating}|" ></div></h4>

                    <table>
                        <tr>
                            <td>Affordability:</td>
                            <td><div class="SmallStars" th:style="|--rating: ${cityOne.overallAffordabilityRating}|" ></div></td>
                        </tr>
                        <tr>
                            <td>Safety:</td>
                            <td><div class="SmallStars" th:style="|--rating: ${cityOne.overallSafetyRating}|" ></div></td>
                        </tr>
                        <tr>
                            <td>Transportation:</td>
                            <td><div class="SmallStars" th:style="|--rating: ${cityOne.overallTransportationRating}|" ></div></td>
                        </tr>
                        <tr>
                            <td>Job Growth:</td>
                            <td><div class="SmallStars" th:style="|--rating: ${cityOne.overallJobGrowthRating}|" ></div></td>
                        </tr>
                    </table>
                </div>
            </div>

            <div class="box middle">
                <h3> At A Glance</h3>
                <table>
                    <tr>
                        <td><h7>Overall</h7></td>
                    </tr>
                    <tr>
                        <td th:if="${cityOne.overallCityRating > cityTwo.overallCityRating}" class="leftbetter">⇐</td>
                        <td th:if="${cityOne.overallCityRating < cityTwo.overallCityRating}" class="rightbetter">⇒</td>
                        <td th:if="${cityOne.overallCityRating == cityTwo.overallCityRating}" class="equal">⇔</td>
                    </tr>
                    <tr>
                        <td><h7>Affordability</h7></td>
                    </tr>
                    <tr>
                        <td th:if="${cityOne.overallAffordabilityRating > cityTwo.overallAffordabilityRating}" class="leftbetter">⇐</td>
                        <td th:if="${cityOne.overallAffordabilityRating < cityTwo.overallAffordabilityRating}" class="rightbetter">⇒</td>
                        <td th:if="${cityOne.overallAffordabilityRating == cityTwo.overallAffordabilityRating}" class="equal">⇔</td>
                    </tr>
                    <tr>
                        <td><h7>Safety</h7></td>
                    </tr>
                    <tr>
                        <td th:if="${cityOne.overallSafetyRating > cityTwo.overallSafetyRating}" class="leftbetter">⇐</td>
                        <td th:if="${cityOne.overallSafetyRating < cityTwo.overallSafetyRating}" class="rightbetter">⇒</td>
                        <td th:if="${cityOne.overallSafetyRating == cityTwo.overallSafetyRating}" class="equal">⇔</td>
                    </tr>
                    <tr>
                        <td><h7>Transportation</h7></td>
                    </tr>
                    <tr>
                        <td th:if="${cityOne.overallTransportationRating > cityTwo.overallTransportationRating}" class="leftbetter">⇐</td>
                        <td th:if="${cityOne.overallTransportationRating < cityTwo.overallTransportationRating}" class="rightbetter">⇒</td>
                        <td th:if="${cityOne.overallTransportationRating == cityTwo.overallTransportationRating}" class="equal">⇔</td>
                    </tr>
                    <tr>
                        <td><h7>Job Growth</h7></td>
                    </tr>
                    <tr>
                        <td th:if="${cityOne.overallJobGrowthRating > cityTwo.overallJobGrowthRating}" class="leftbetter">⇐</td>
                        <td th:if="${cityOne.overallJobGrowthRating < cityTwo.overallJobGrowthRating}" class="rightbetter">⇒</td>
                        <td th:if="${cityOne.overallJobGrowthRating == cityTwo.overallJobGrowthRating}" class="equal">⇔</td>
                    </tr>
                </table>
                <div>
                    <form method="get" th:action="@{'/compare'}">
                        <button class="btn btn-primary save-compare-btn" type="submit" style="margin-top:20px">Restart</button>
                    </form>
                </div>
            </div>

            <div class="box">
                <div class="compare-box">
                    <div th:if="${cityTwo.images == null}">
                        <img src="/images/default.jpg" alt="..." class="img-fluid">
                    </div>
                    <div th:unless="${cityTwo.images == null}">
                        <img class="d-block w-100" th:src="@{'data:image/jpeg;base64,' + ${cityTwo.getImages().get(0)}}" alt="First slide">
                    </div>
                    <h3 th:text="${cityTwo.cityName} +', ' +${cityTwo.stateName}" ></h3>
                    <h4>Overall Rating:
                        <div class="Stars" th:style="|--rating: ${cityTwo.overallCityRating}|" ></div></h4>

                    <table>
                        <tr>
                            <td>Affordability:</td>
                            <td><div class="SmallStars" th:style="|--rating: ${cityTwo.overallAffordabilityRating}|" ></div></td>
                        </tr>
                        <tr>
                            <td>Safety:</td>
                            <td><div class="SmallStars" th:style="|--rating: ${cityTwo.overallSafetyRating}|" ></div></td>
                        </tr>
                        <tr>
                            <td>Transportation:</td>
                            <td><div class="SmallStars" th:style="|--rating: ${cityTwo.overallTransportationRating}|" ></div></td>
                        </tr>
                        <tr>
                            <td>Job Growth:</td>
                            <td><div class="SmallStars" th:style="|--rating: ${cityTwo.overallJobGrowthRating}|" ></div></td>
                        </tr>

                    </table>

                </div>
            </div>
        </div>
    </div>
</div>
</body>
<div th:replace="fragments :: footer"></div>
</html>