<!DOCTYPE html>
<html lang="en" xmlns:th="https://www.thymeleaf.org/">
<head th:replace="fragments :: head">

</head>
<div th:if="${session.user}">
    <div th:replace="fragments :: header-authenticated" class="navbar navbar-inverse navbar-fixed-top"></div>
</div>
<div th:unless="${session.user}">
    <div th:replace="fragments :: header-anonymous" class="navbar navbar-inverse navbar-fixed-top"></div>
</div>

<body id="search-background" >
<div class="container">
    <div class="d-flex justify-content-end search-sort-bar">
        <div th:fragment="search-form">
            <div class="search-btn-container">
                <form class="top-search-btn" th:action="@{'/compare/'+ ${cityOne.id} + '/page/' + 1}" method="get">
                    <div class="input-group input-group-lg">
                        <input type="text" class="form-control" placeholder="Search" id="searchTerm" name="searchTerm">
                        <div class="input-group-append">
                            <button class="btn" type="submit" id="search-btn">
                                <i class="fa fa-search"></i>
                            </button>
                        </div>
                    </div>
                </form>
            </div>
        </div>




        <div class="btn-toolbar" id="filter-btn-toolbar" role="toolbar" aria-label="Toolbar with button groups">

            <div class="dropdown">
                <div class="btn-group mr-2" role="group" aria-label="First group">
                    <button type="button" class="btn btn-secondary dropdown-toggle bg-info" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">Star Rating</button>
                    <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
                        <a class="dropdown-item" th:href="@{'/compare/' + ${cityOne.id} + '/page/' + ${currentPage} + '?searchTerm=' + ${searchTerm} + '&sortField=' + ${sortField} + '&sortDirection=' + ${sortDirection} + '&starRating=' + 4}">4 & up</a>
                        <a class="dropdown-item" th:href="@{'/compare/' + ${cityOne.id} + '/page/' + ${currentPage} + '?searchTerm=' + ${searchTerm} + '&sortField=' + ${sortField} + '&sortDirection=' + ${sortDirection} + '&starRating=' + 3}">3 & up</a>
                        <a class="dropdown-item" th:href="@{'/compare/' + ${cityOne.id} + '/page/' + ${currentPage} + '?searchTerm=' + ${searchTerm} + '&sortField=' + ${sortField} + '&sortDirection=' + ${sortDirection} + '&starRating=' + 2}">2 & up</a>
                        <a class="dropdown-item" th:href="@{'/compare/' + ${cityOne.id} + '/page/' + ${currentPage} + '?searchTerm=' + ${searchTerm} + '&sortField=' + ${sortField} + '&sortDirection=' + ${sortDirection} + '&starRating=' + 1}">1 & up</a>
                    </div>
                </div>
            </div>
            <div class="dropleft" id="sort-by-dropdown">
                <button class="btn btn-secondary dropdown-toggle" type="button" id="sort-by-dropdown-btn" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                    Sort by:
                </button>
                <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
                    <a class="dropdown-item" th:href="@{'/compare/' + ${cityOne.id} + '/page/' + ${currentPage} + '?searchTerm=' + ${searchTerm} + '&sortField=overallCityRating&sortDirection=desc' + '&starRating=' + ${starRating}}">Top Rated</a>
                    <a class="dropdown-item" th:href="@{'/compare/' + ${cityOne.id} + '/page/' + ${currentPage} + '?searchTerm=' + ${searchTerm} + '&sortField=overallCityRating&sortDirection=asc' + '&starRating=' + ${starRating}}">Lowest Rated</a>
                    <a class="dropdown-item" th:href="@{'/compare/' + ${cityOne.id} + '/page/' + ${currentPage} + '?searchTerm=' + ${searchTerm} + '&sortField=overallAffordabilityRating&sortDirection=desc' + '&starRating=' + ${starRating}}">Top Rated on Affordability</a>
                    <a class="dropdown-item" th:href="@{'/compare/' + ${cityOne.id} + '/page/' + ${currentPage} + '?searchTerm=' + ${searchTerm} + '&sortField=overallAffordabilityRating&sortDirection=asc' + '&starRating=' + ${starRating}}">Lowest Rated on Affordability</a>
                    <a class="dropdown-item" th:href="@{'/compare/' + ${cityOne.id} + '/page/' + ${currentPage} + '?searchTerm=' + ${searchTerm} + '&sortField=overallSafetyRating&sortDirection=desc' + '&starRating=' + ${starRating}}">Top Rated on Safety&Security </a>
                    <a class="dropdown-item" th:href="@{'/compare/' + ${cityOne.id} + '/page/' + ${currentPage} + '?searchTerm=' + ${searchTerm} + '&sortField=overallSafetyRating&sortDirection=asc' + '&starRating=' + ${starRating}}">Lowest Rated on Safety&Security</a>
                    <a class="dropdown-item" th:href="@{'/compare/' + ${cityOne.id} + '/page/' + ${currentPage} + '?searchTerm=' + ${searchTerm} + '&sortField=overallTransportationRating&sortDirection=desc' + '&starRating=' + ${starRating}}">Top Rated on Transportation </a>
                    <a class="dropdown-item" th:href="@{'/compare/' + ${cityOne.id} + '/page/' + ${currentPage} + '?searchTerm=' + ${searchTerm} + '&sortField=overallTransportationRating&sortDirection=asc' + '&starRating=' + ${starRating}}">Lowest Rated on Transportation </a>
                    <a class="dropdown-item" th:href="@{'/compare/' + ${cityOne.id} + '/page/' + ${currentPage} + '?searchTerm=' + ${searchTerm} + '&sortField=overallJobGrowthRating&sortDirection=desc' + '&starRating=' + ${starRating}}">Top Rated on Job Growth</a>
                    <a class="dropdown-item" th:href="@{'/compare/' + ${cityOne.id} + '/page/' + ${currentPage} + '?searchTerm=' + ${searchTerm} + '&sortField=overallJobGrowthRating&sortDirection=asc' + '&starRating=' + ${starRating}}">Lowest Rated on Job Growth</a>
                    <a class="dropdown-item" th:href="@{'/compare/' + ${cityOne.id} + '/page/' + ${currentPage} + '?searchTerm=' + ${searchTerm} + '&sortField=overallSchoolRating&sortDirection=desc' + '&starRating=' + ${starRating}}">Top Rated on School</a>
                    <a class="dropdown-item" th:href="@{'/compare/' + ${cityOne.id} + '/page/' + ${currentPage} + '?searchTerm=' + ${searchTerm} + '&sortField=overallSchoolRating&sortDirection=asc' + '&starRating=' + ${starRating}}">Lowest Rated on School</a>
                </div>
            </div>
        </div>
    </div>
</div>


<div th:fragment="listCities" class="city-listing" >
    <th:block th:each="city : ${cities}">

        <div class="card mb-3 border border-info" style="max-width: 1000px" id="cityCard">

            <div class="row g-0">
                <div class="col-md-4">

                    <div th:if="${city.images != null && city.images.size() == 1}">

                        <div id="carouselControls2" class="carousel slide carouselCity" data-ride="carousel">

                            <div class="carousel-inner">
                                <div class="carousel-item active">
                                    <div class="wrapper">
                                        <img class="d-block w-100 rounded cityCardImage" th:src="@{'data:image/jpeg;base64,' + ${city.getImages().get(0)}}" alt="First slide">
                                        <a href="#" class="text-white " data-toggle="tooltip" title="Save this city"><span class="far fa-heart fa-2x"></span></a>
                                    </div>
                                </div>
                            </div>
                        </div>

                    </div>

                    <div th:if="${city.images != null && city.images.size() > 1}">
                        <div id="carouselControls" class="carousel slide carouselCity" data-ride="carousel">
                            <div class="carousel-inner">

                                <div class="carousel-item active">
                                    <div class="wrapper">
                                        <img class="d-block w-100 rounded cityCardImage" th:src="@{'data:image/jpeg;base64,' + ${city.getImages().get(0)}}" alt="First slide">
                                        <a href="#" class="text-white" data-toggle="tooltip" title="Save this city"><span class="far fa-heart fa-2x"></span></a>
                                    </div>
                                </div>

                                <div class="carousel-item" th:each="image : ${city.images}">
                                    <div class="wrapper">
                                        <img class="d-block w-100 rounded cityCardImage" th:src="@{'data:image/jpeg;base64,' + ${image}}" alt="">
                                        <a href="#" class="text-white" data-toggle="tooltip" title="Save this city"><span class="far fa-heart fa-2x"></span></a>
                                    </div>
                                </div>
                            </div>
                            <a class="carousel-control-prev" href="#carouselControls" role="button" data-slide="prev">
                                <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                                <span class="sr-only">Previous</span>
                            </a>
                            <a class="carousel-control-next" href="#carouselControls" role="button" data-slide="next">
                                <span class="carousel-control-next-icon" aria-hidden="true"></span>
                                <span class="sr-only">Next</span>
                            </a>
                        </div>

                    </div>


                    <div th:if="${city.images == null}">
                        <div id="carouselControls3" class="carousel slide carouselCity" data-ride="carousel">
                            <div class="carousel-inner">

                                <div class="carousel-item active">
                                    <div class="wrapper">
                                        <img class="d-block w-100 rounded cityCardImage" src="/images/default.jpg" alt="First slide">
                                        <a href="#" class="text-white" data-toggle="tooltip" title="Save this city"><span class="far fa-heart fa-2x"></span></a>
                                    </div>
                                </div>

                            </div>
                        </div>

                    </div>

                </div>

                <div class="col-md-8">
                    <div class="card-body">

                        <div class="row">
                            <a th:href="@{'/view/' + ${city.id} + '/1'}" ><h4 class="card-title text-dark" th:text="${city.cityName} + '/' + ${city.stateID}"></h4></a>
                            <div class="Stars" id="cityCardStar" th:style="|--rating: ${city.overallCityRating}|" ></div>
                            <a th:href="@{'/view/' + ${city.id} + '/1#targetUserReviews'}" th:text="${city.overallCityRating + ' (' + city.reviews.size() + ' Reviews)'}"></a>
                        </div>

                        <br>

                        <div class="wrapper">
                            <p class="card-text affordable" ><em>
                                Affordable <i th:if="${city.overallAffordabilityRating >= 3.5}" class="fas fa-check-square fa-lg checkSquareCityCard" ></i><i th:if="${city.overallAffordabilityRating < 3.5 && city.overallAffordabilityRating > 0}" class="far fa-times-circle fa-lg crossCircleCityCard"></i><i th:if="${city.overallAffordabilityRating == 0}" class="fas fa-question-circle fa-lg questionCircleIconCityCard"></i>
                            </em></p>
                            <p class="card-text safe"><em>
                                Safe <i th:if="${city.overallSafetyRating >= 3.5}" class="fas fa-check-square fa-lg checkSquareCityCard" ></i><i th:if="${city.overallSafetyRating < 3.5 && city.overallSafetyRating > 0}" class="far fa-times-circle fa-lg crossCircleCityCard"></i><i th:if="${city.overallSafetyRating == 0}" class="fas fa-question-circle fa-lg questionCircleIconCityCard"></i>
                            </em></p>
                            <p class="card-text transportation" ><em>
                                Transportation <i th:if="${city.overallTransportationRating >= 3.5}" class="fas fa-check-square fa-lg checkSquareCityCard" ></i><i th:if="${city.overallTransportationRating < 3.5 && city.overallTransportationRating > 0}" class="far fa-times-circle fa-lg crossCircleCityCard"></i><i th:if="${city.overallTransportationRating == 0}" class="fas fa-question-circle fa-lg questionCircleIconCityCard"></i>
                            </em></p>
                            <p class="card-text jobGrowth" ><em>
                                Job Growth <i th:if="${city.overallJobGrowthRating >= 3.5}" class="fas fa-check-square fa-lg checkSquareCityCard" ></i><i th:if="${city.overallJobGrowthRating < 3.5 && city.overallJobGrowthRating > 0}" class="far fa-times-circle fa-lg crossCircleCityCard"></i><i th:if="${city.overallJobGrowthRating == 0}" class="fas fa-question-circle fa-lg questionCircleIconCityCard"></i>
                            </em></p>
                            <p class="card-text school" ><em>
                                School <i th:if="${city.overallSchoolRating >= 3.5}" class="fas fa-check-square fa-lg checkSquareCityCard" ></i><i th:if="${city.overallSchoolRating < 3.5 && city.overallSchoolRating > 0}" class="far fa-times-circle fa-lg crossCircleCityCard"></i><i th:if="${city.overallSchoolRating == 0}" class="fas fa-question-circle fa-lg questionCircleIconCityCard"></i>
                            </em></p>
                        </div>
                        <form method="get" th:action="@{'/compare/' + ${cityOne.id} + '/' + ${city.id}}">
                            <button class="btn btn-primary save-compare-btn" type="submit">Compare</button>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </th:block>


    <div id="no-results">
        <p th:unless="${cities} and ${cities.size()}">No results!</p>
    </div>


    <div th:if = "${totalPages > 1}">
        <div class="row">
            <div class="col-lg-6 offset-lg-3 py-5 border">
                <nav>
                    <ul class="pagination justify-content-center flex-wrap">

                        <li class="page-item">
                            <a class="page-link" th:if="${currentPage > 1}" th:href="@{'/compare/{cityOne.id}/page/' + 1 + '?searchTerm=' + ${searchTerm} + '&sortField=' + ${sortField} + '&sortDirection=' + ${sortDirection} +'&starRating=' + ${starRating}}">First</a>
                        </li>
                        <li class="page-item">
                            <a class="page-link" th:if="${currentPage > 1}" th:href="@{'/compare/{cityOne.id}/page/' + ${currentPage - 1} + '?searchTerm=' + ${searchTerm} + '&sortField=' + ${sortField} + '&sortDirection=' + ${sortDirection} +'&starRating=' + ${starRating}}">Previous</a>
                            <!--                                                        <span th:unless="${currentPage < totalPages}"><a class="page-link">Previous</a></span>-->
                        </li>

                        <th:block th:if="${totalPages <= 10}">
                            <li class="page-item" th:each="i: ${#numbers.sequence(1, totalPages)}">
                                <a class="page-link" th:if="${currentPage != i}" th:href="@{'/compare/{cityOne.id}/page/' + ${i}  + '?searchTerm=' + ${searchTerm} + '&sortField=' + ${sortField} + '&sortDirection=' + ${sortDirection} +'&starRating=' + ${starRating}}">[[${i}]]</a>
                                <span th:unless="${currentPage != i }"><a class="page-link">[[${i}]]</a></span>

                            </li>
                        </th:block>

                        <th:block th:if="${totalPages > 10}">
                            <th:block th:if="${currentPage <= 5 || currentPage >= totalPages - 4}">
                                <li class="page-item" th:each="i: ${#numbers.sequence(1, 5)}">
                                    <a class="page-link" th:if="${currentPage != i}" th:href="@{'/compare/{cityOne.id}/page/' + ${i}  + '?searchTerm=' + ${searchTerm}+ '&sortField=' + ${sortField} + '&sortDirection=' + ${sortDirection} +'&starRating=' + ${starRating}}">[[${i}]]</a>
                                    <span th:unless="${currentPage != i }"><a class="page-link">[[${i}]]</a></span>

                                </li>
                                <a th:href="@{'/page/' + 6 + '?searchTerm=' + ${searchTerm}}" class="page-link">...</a>

                                <li class="page-item" th:each="i: ${#numbers.sequence(totalPages -4 , totalPages)}" >
                                    <a class="page-link" th:if="${currentPage != i}" th:href="@{'/compare/{cityOne.id}/page/' + ${i}  + '?searchTerm=' + ${searchTerm}+ '&sortField=' + ${sortField} + '&sortDirection=' + ${sortDirection} +'&starRating=' + ${starRating}}" >[[${i}]]</a>
                                    <span th:unless="${currentPage != i }"><a class="page-link">[[${i}]]</a></span>

                                </li>
                            </th:block>

                            <th:block th:if="${currentPage > 5 && currentPage < totalPages -4}">

                                <a th:href="@{'/page/' + ${currentPage - 5}  + '?searchTerm=' + ${searchTerm} + '&sortField=' + ${sortField} + '&sortDirection=' + ${sortDirection} +'&starRating=' + ${starRating}}" class="page-link">...</a>

                                <li class="page-item" th:each="i: ${#numbers.sequence(currentPage -4 , currentPage + 4)}">
                                    <a class="page-link" th:if="${currentPage != i}" th:href="@{'/compare/{cityOne.id}/page/' + ${i}  + '?searchTerm=' + ${searchTerm} + '&sortField=' + ${sortField} + '&sortDirection=' + ${sortDirection} +'&starRating=' + ${starRating}}">[[${i}]]</a>
                                    <span th:unless="${currentPage != i }" ><a class="page-link">[[${i}]]</a></span>

                                </li>

                                <a th:href="@{'/compare/{cityOne.id}/page/' + ${currentPage + 5}  + '?searchTerm=' + ${searchTerm} + '&sortField=' + ${sortField} + '&sortDirection=' + ${sortDirection} +'&starRating=' + ${starRating}}" class="page-link">...</a>

                            </th:block>

                        </th:block>

                        <li class="page-item">
                            <a class="page-link" th:if="${currentPage < totalPages}" th:href="@{'/compare/{cityOne.id}/page/' + ${currentPage + 1}  + '?searchTerm=' + ${searchTerm}+ '&sortField=' + ${sortField} + '&sortDirection=' + ${sortDirection} +'&starRating=' + ${starRating}}">Next</a>
                            <!--                                                        <span th:unless="${currentPage < totalPages}"><a class="page-link">Next</a></span>-->
                        </li>

                        <li class="page-item">
                            <a class="page-link" th:if="${currentPage < totalPages}" th:href="@{'/compare/{cityOne.id}/page/' + ${totalPages}  + '?searchTerm=' + ${searchTerm}+ '&sortField=' + ${sortField} + '&sortDirection=' + ${sortDirection} +'&starRating=' + ${starRating}}">Last</a>
                            <!--                                                        <span th:unless="${currentPage < totalPages}"><a class="page-link">Last</a></span>-->
                        </li>
                    </ul>
                </nav>
            </div>
        </div>
    </div>


</div>


</body>
<div th:replace="fragments :: footer"></div>
</html>