<!DOCTYPE html>
<html lang="en" xmlns:th="http.www.thymeleaf.org/">

<head th:fragment="head">

    <!-- Bootstrap stylesheets and script -->
<!--    <script src="https://code.jquery.com/jquery-3.1.1.js"></script>-->
    <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>

    <link th:href="@{/css/style.css}" rel="stylesheet" />
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link href="https://fonts.googleapis.com/css2?family=Pacifico&display=swap" rel="stylesheet">
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link href="https://fonts.googleapis.com/css2?family=Merriweather:wght@300&display=swap" rel="stylesheet">

<!--    <link th:href="@{/css/bootstrap.css}" rel="stylesheet" />-->

    <script src="https://kit.fontawesome.com/f98ae42250.js" crossorigin="anonymous"></script>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>

    <!--    <script type="text/javascript" th:src="@{/js/bootstrap.js}"></script>-->

    <title th:text="'Piri' + ${title == null ? '' : ' :: ' + title}">Piri</title>
</head>

<body>

<div th:fragment="page-header" class="navbar navbar-inverse navbar-fixed-top">
    <div class="container">
        <div class="navbar-header">
            <a th:href="@{/}" class="navbar-brand">Piri</a>
        </div>
        <div class="navbar-collapse collapse">
            <ul class="nav navbar-nav">
                <li><a th:href="@{/search}">Search</a></li>
                <li><a th:href="@{/register}">Suggest</a></li>
            </ul>

            <ul class="nav navbar-nav navbar-right">
                <!-- user info here -->
            </ul>
        </div>
    </div>
</div>

<div th:fragment="page-header-index" class="navbar navbar-inverse navbar-fixed-top">
    <nav class="navbar">
        <a th:href="@{/}" class="navbar-brand">Piri</a>
    </nav>
    <ul class="nav justify-content-end">
        <li class="nav-item"><a class="nav-link" th:href="@{/login}">Login</a></li>
        <li class="nav-item"><a class="nav-link" th:href="@{/help}">Help</a></li>
    </ul>
</div>

<div th:fragment="page-header-login" class="navbar navbar-inverse navbar-fixed-top">
    <nav class="navbar">
        <a th:href="@{/}" class="navbar-brand">Piri</a>
    </nav>
</div>

<div th:fragment="page-header-search" class="navbar navbar-inverse navbar-fixed-top">
    <nav class="navbar">
        <a th:href="@{/}" class="navbar-brand">Piri</a>
    </nav>

    <ul class="nav justify-content-center">

        <form class="form-inline "  th:action="@{'/page/' + 1}" method="get">
            <div class="input-group" id="search-input-group">
                <input type="text" class="form-control" placeholder="Search" id="searchTerm" name="searchTerm">
                <div class="input-group-append">
                    <button class="btn" type="submit" id="search-btn">
                        <i class="fa fa-search "></i>
                    </button>
                </div>
            </div>

        </form>

    </ul>


    <ul class="nav justify-content-end">
        <li class="nav-item"><a class="nav-link" th:href="@{/login}">Login</a></li>
        <li class="nav-item"><a class="nav-link" th:href="@{/help}">Help</a></li>
    </ul>
</div>
<!--<div th:fragment="page-header-index" class="navbar navbar-inverse navbar-fixed-top" >-->
<!--    <div class="container">-->
<!--        <div class="navbar-header">-->
<!--            <a th:href="@{/}" class="navbar-brand">Piri</a>-->
<!--        </div>-->
<!--        <div class="navbar-collapse collapse">-->
<!--            <ul class="nav navbar-nav navbar-right">-->
<!--                <li><a th:href="@{/login}">Login</a></li>-->
<!--                <li><a th:href="@{/help}">Help</a></li>-->
<!--            </ul>-->

<!--    </div>-->
<!--    </div>-->
<!--</div>-->

</body>
</html>