<!DOCTYPE html>
<html lang="en" xmlns:th="http.www.thymeleaf.org/">

<head th:fragment="head">
    <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
    <link th:href="@{/css/style.css}" rel="stylesheet" />
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link href="https://fonts.googleapis.com/css2?family=Pacifico&display=swap" rel="stylesheet">
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link href="https://fonts.googleapis.com/css2?family=Merriweather:wght@300&display=swap" rel="stylesheet">

    <script src="https://kit.fontawesome.com/f98ae42250.js" crossorigin="anonymous"></script>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>
    <script type="text/javascript" th:src="@{/js/bootstrap.js}"></script>

    <title th:text="'Piri' + ${title == null ? '' : ' :: ' + title}">Piri</title>
</head>

<body>


// Search form codes start here

<div th:fragment="search-form">
    <div class="search-btn-container">
        <form class="top-search-btn" th:action="@{'/page/' + 1}" method="get">
            <div class="input-group input-group-lg">
                <input type="text" class="form-control" placeholder="Search" id="searchTerm" name="searchTerm">
                <div class="input-group-append">
                    <button class="btn" type="submit" id="search-btn">
                        <i class="fa fa-search"></i>
                    </button>
                </div>
            </div>
        </form>
    </div>
</div>
//Search form  codes end here

//Navigation header codes start here
<div th:fragment="header-anonymous" class="navbar navbar-inverse navbar-fixed-top">
    <nav class="navbar">
        <a th:href="@{/}" class="navbar-brand">Piri</a>
    </nav>
    <ul class="nav justify-content-end">
        <li class="nav-item"><a class="nav-link navigation-link" th:href="@{/login}">Sign In</a></li>
        <li class="nav-item"><a class="nav-link navigation-link" th:href="@{/register}">Sign Up</a></li>
    </ul>
</div>

<div th:fragment="header-authenticated" class="navbar navbar-inverse navbar-fixed-top">
    <nav class="navbar">
        <a th:href="@{/}" class="navbar-brand">Piri</a>
    </nav>
    <ul class="nav justify-content-end">
        <li class="nav-item dropdown">
            <a class="nav-link navigation-link dropdown-toggle" data-toggle="dropdown" href="#" role="button" aria-haspopup="true" aria-expanded="false">My Account</a>
            <div class="dropdown-menu">
                <a class="dropdown-item" th:href="@{/profile}">My Profile</a>
                <a class="dropdown-item" th:href="@{'/savedCities/page/' + 1}">Favorite Cities</a>
<!--                <a class="dropdown-item" href="#">Something else</a>-->
                <div class="dropdown-divider"></div>
                <a class="dropdown-item" th:href="@{/logout}">Log Out</a>
            </div>
        </li>
    </ul>
</div>

<div th:fragment="header-login-register" class="navbar navbar-inverse navbar-fixed-top">
    <nav class="navbar">
        <a th:href="@{/}" class="navbar-brand">Piri</a>
    </nav>
</div>
//Navigation header codes end here

//Footer codes start here
<div  class="footer-container" th:fragment="footer">
    <ul class="list-inline text-center">
        <li class="list-inline-item">
            <a class="nav-link footer-links" th:href="@{/about}">About</a>
        </li>
        <li class="list-inline-item">
            <a class="nav-link footer-links" th:href="@{/faq}">FAQ </a>
        </li>
        <li class="list-inline-item">
            <a class="nav-link footer-links" th:href="@{/contact}">Contact</a>
        </li>
    </ul>
</div>
//Footer codes end here

</body>
</html>