<!DOCTYPE html>
<html lang="en" xmlns:th="https://www.thymeleaf.org/">
<head>
    <link th:href="@{/css/bootstrap.css}" rel="stylesheet" />
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link href="https://fonts.googleapis.com/css2?family=Pacifico&display=swap" rel="stylesheet">
    <script type="text/javascript" th:src="@{/js/bootstrap.js}"></script>

    <title th:text="'Piri' + ${title == null ? '' : ' :: ' + title}">Piri</title>

</head>
<body class="index">

<div th:replace="fragments :: page-header-index" class="navbar navbar-inverse navbar-fixed-top">
</div>

<div class="centered">

    <hr />
    <hr />


    <h1 th:text="${#strings.capitalizeWords(title)}"></h1>

    <table th:fragment="listCities" class="city-listing">
            <th:block th:each="city : ${cities}">
                <tr>
                    <td>
                        <p th:text="'City Name: ' + ${city.cityName}"></p>
                        <p th:text="'Zip Code: ' + ${city.zipCode}"></p>
                        <p th:text="'State: ' + ${city.stateName}"></p>
                        <p th:text="'County: ' + ${city.county}"></p>
                        <p th:text="'Latitude: ' + ${city.latitude}"></p>
                        <p th:text="'Longitude: ' + ${city.longitude}"></p>

                    </td>
                </tr>
            </th:block>
    </table>

</div>
</body>
</html>