<!DOCTYPE html>
<html lang="en" xmlns:th="https://www.thymeleaf.org/">
<head th:replace="fragments :: head">
</head>

<body>

<div th:replace="fragments :: page-header-index" class="navbar navbar-inverse navbar-fixed-top">
</div>


<!--    <h1 th:text="${#strings.capitalizeWords(title)}"></h1>-->
    <div th:fragment="listCities" class="city-listing" >
        <th:block th:each="city : ${cities}">

    <div class="card mb-3 " style="max-width: 1000px">
    <div class="row g-0">
        <div class="col-md-4 ">
            <div class="wrapper">
                <img
                    src="/images/nycskyline.png"
                    alt="..."
                    class="img-fluid">
                <a href="#" class="text-white"><span class="far fa-heart fa-2x"></span></a>
            </div>

        </div>
        <div class="col-md-8">
            <div class="card-body">
                <a href="https://github.com/LaunchCodeLiftoffProjects/Piri" class="card-link"><h5 class="card-title" th:text="${city.cityName} + '/' + ${city.stateID}"></h5></a>
                <p class="card-text" th:text="${city.id}">
                    Ratings...
                </p>
                <p class="card-text" th:text="${city.zipCodes}">
                    <small class="text-muted"></small>
                </p>
            </div>
        </div>
    </div>
</div>
    </th:block>

  </div>
</body>
</html>