<!DOCTYPE html>
<html lang="en" xmlns:th="https://www.thymeleaf.org/">
<head th:replace="fragments :: head">
<body>
<div class="centered">
    <div class="text-center">
        <h2 class="login-header">Create Your Account</h2>
    </div>

    <form method="post" class="login-form">
        <div class="form-group row">
            <label class="col-sm-3 col-form-label">Username</label>
            <div class="col-sm-9">
                <input class="form-control login-input" th:field="${registerFormDTO.username}" />
            </div>
            <p class="error" th:errors="${registerFormDTO.username}"></p>
        </div>
        <div class="form-group row">
            <label class="col-sm-3 col-form-label">Password</label>
            <div class="col-sm-9">
                <input class="form-control login-input" th:field="${registerFormDTO.password}" type="password" />
            </div>
            <p class="error" th:errors="${registerFormDTO.password}"></p>
        </div>
        <div class="form-group row">
            <label class="col-sm-3 col-form-label">Verify Password</label>
            <div class="col-sm-9">
                <input class="form-control login-input" th:field="${registerFormDTO.verifyPassword}" type="password" />
            </div>
        </div>
        <div class="text-center">
            <input type="submit" class="btn register-btn btn-primary" value="Register" />
        </div>
    </form>

    <div class="text-center login-form">
        <p>Have an existing account? <a href="/login">Sign In.</a></p>
    </div>
</div>

</body>
</html>