<!DOCTYPE html>
<html lang="en" xmlns:th="https://www.thymeleaf.org/">
<head th:replace="fragments :: head">

</head>
<div th:if="${session.user}">
    <div th:replace="fragments :: header-authenticated" class="navbar navbar-inverse navbar-fixed-top"></div>
</div>
<div th:unless="${session.user}">
    <div th:replace="fragments :: header-anonymous" class="navbar navbar-inverse navbar-fixed-top"></div>
</div>
<body id="search-background" >

<div class="container">
    <div class="d-flex justify-content-end search-sort-bar">
    <div class="" th:replace="fragments :: search-form"></div>
        <div class="btn-toolbar" id="filter-btn-toolbar" role="toolbar" aria-label="Toolbar with button groups">

            <div class="dropdown">
                <div class="btn-group mr-2" role="group" aria-label="First group">
                    <button type="button" class="btn btn-secondary dropdown-toggle bg-info" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">Star Rating</button>
                    <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
                        <a class="dropdown-item" th:href="@{'/page/' + ${currentPage} + '?searchTerm=' + ${searchTerm} + '&sortField=' + ${sortField} + '&sortDirection=' + ${sortDirection} + '&starRating=' + 4}">4 & up</a>
                        <a class="dropdown-item" th:href="@{'/page/' + ${currentPage} + '?searchTerm=' + ${searchTerm} + '&sortField=' + ${sortField} + '&sortDirection=' + ${sortDirection} + '&starRating=' + 3}">3 & up</a>
                        <a class="dropdown-item" th:href="@{'/page/' + ${currentPage} + '?searchTerm=' + ${searchTerm} + '&sortField=' + ${sortField} + '&sortDirection=' + ${sortDirection} + '&starRating=' + 2}">2 & up</a>
                        <a class="dropdown-item" th:href="@{'/page/' + ${currentPage} + '?searchTerm=' + ${searchTerm} + '&sortField=' + ${sortField} + '&sortDirection=' + ${sortDirection} + '&starRating=' + 1}">1 & up</a>
                    </div>
                </div>
            </div>
    <div class="dropleft" id="sort-by-dropdown">
        <button class="btn btn-secondary dropdown-toggle" type="button" id="sort-by-dropdown-btn" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
            Sort by:
        </button>
        <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
            <a class="dropdown-item" th:href="@{'/page/' + ${currentPage} + '?searchTerm=' + ${searchTerm} + '&sortField=overallCityRating&sortDirection=desc' + '&starRating=' + ${starRating}}">Top Rated</a>
            <a class="dropdown-item" th:href="@{'/page/' + ${currentPage} + '?searchTerm=' + ${searchTerm} + '&sortField=overallCityRating&sortDirection=asc' + '&starRating=' + ${starRating}}">Lowest Rated</a>
            <a class="dropdown-item" th:href="@{'/page/' + ${currentPage} + '?searchTerm=' + ${searchTerm} + '&sortField=overallAffordabilityRating&sortDirection=desc' + '&starRating=' + ${starRating}}">Top Rated on Affordability</a>
            <a class="dropdown-item" th:href="@{'/page/' + ${currentPage} + '?searchTerm=' + ${searchTerm} + '&sortField=overallAffordabilityRating&sortDirection=asc' + '&starRating=' + ${starRating}}">Lowest Rated on Affordability</a>
            <a class="dropdown-item" th:href="@{'/page/' + ${currentPage} + '?searchTerm=' + ${searchTerm} + '&sortField=overallSafetyRating&sortDirection=desc' + '&starRating=' + ${starRating}}">Top Rated on Safety&Security </a>
            <a class="dropdown-item" th:href="@{'/page/' + ${currentPage} + '?searchTerm=' + ${searchTerm} + '&sortField=overallSafetyRating&sortDirection=asc' + '&starRating=' + ${starRating}}">Lowest Rated on Safety&Security</a>
            <a class="dropdown-item" th:href="@{'/page/' + ${currentPage} + '?searchTerm=' + ${searchTerm} + '&sortField=overallTransportationRating&sortDirection=desc' + '&starRating=' + ${starRating}}">Top Rated on Transportation </a>
            <a class="dropdown-item" th:href="@{'/page/' + ${currentPage} + '?searchTerm=' + ${searchTerm} + '&sortField=overallTransportationRating&sortDirection=asc' + '&starRating=' + ${starRating}}">Lowest Rated on Transportation </a>
            <a class="dropdown-item" th:href="@{'/page/' + ${currentPage} + '?searchTerm=' + ${searchTerm} + '&sortField=overallJobGrowthRating&sortDirection=desc' + '&starRating=' + ${starRating}}">Top Rated on Job Growth</a>
            <a class="dropdown-item" th:href="@{'/page/' + ${currentPage} + '?searchTerm=' + ${searchTerm} + '&sortField=overallJobGrowthRating&sortDirection=asc' + '&starRating=' + ${starRating}}">Lowest Rated on Job Growth</a>
            <a class="dropdown-item" th:href="@{'/page/' + ${currentPage} + '?searchTerm=' + ${searchTerm} + '&sortField=overallSchoolRating&sortDirection=desc' + '&starRating=' + ${starRating}}">Top Rated on School</a>
            <a class="dropdown-item" th:href="@{'/page/' + ${currentPage} + '?searchTerm=' + ${searchTerm} + '&sortField=overallSchoolRating&sortDirection=asc' + '&starRating=' + ${starRating}}">Lowest Rated on School</a>
        </div>
    </div>
    </div>
    </div>
</div>
    <div th:replace="list-cities :: listCities"></div>
</body>
    <div th:replace="fragments :: footer"></div>
</html>