<!DOCTYPE html>
<html lang="en" xmlns:th="https://www.thymeleaf.org/">
<head th:replace="fragments :: head">

</head>
<div th:if="${session.user}">
    <div th:replace="fragments :: header-authenticated" class="navbar navbar-inverse navbar-fixed-top"></div>
</div>
<div th:unless="${session.user}">
    <div th:replace="fragments :: header-anonymous" class="navbar navbar-inverse navbar-fixed-top"></div>
</div>

<body id="search-background" >

    <div th:replace="fragments :: search-form"></div>


    <div class="btn-toolbar justify-content-center" id="filter-btn-toolbar" role="toolbar" aria-label="Toolbar with button groups">

        <div class="dropdown">
        <div class="btn-group mr-2" role="group" aria-label="First group">
            <button type="button" class="btn btn-secondary dropdown-toggle bg-info" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">Star Rating</button>
            <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
                <a class="dropdown-item" th:href="@{'/page/' + ${currentPage} + '?searchTerm=' + ${searchTerm} + '&sortField=' + ${sortField} + '&sortDirection=' + ${sortDirection} + '&starRating=' + 4}">4 & up</a>
                <a class="dropdown-item" th:href="@{'/page/' + ${currentPage} + '?searchTerm=' + ${searchTerm} + '&sortField=' + ${sortField} + '&sortDirection=' + ${sortDirection} + '&starRating=' + 3}">3 & up</a>
                <a class="dropdown-item" th:href="@{'/page/' + ${currentPage} + '?searchTerm=' + ${searchTerm} + '&sortField=' + ${sortField} + '&sortDirection=' + ${sortDirection} + '&starRating=' + 2}">2 & up</a>
                <a class="dropdown-item" th:href="@{'/page/' + ${currentPage} + '?searchTerm=' + ${searchTerm} + '&sortField=' + ${sortField} + '&sortDirection=' + ${sortDirection} + '&starRating=' + 1}">1 & up</a>
            </div>
        </div>
        </div>
        <div class="dropdown">
            <div class="btn-group mr-2" role="group" aria-label="First group">
                <button type="button" class="btn btn-secondary dropdown-toggle bg-info" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">Affordability</button>
                <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
                    <a class="dropdown-item" th:href="@{'/page/' + ${currentPage} + '?searchTerm=' + ${searchTerm} + '&sortField=overallAffordabilityRating&sortDirection=desc'}">Top Rated</a>
                    <a class="dropdown-item" th:href="@{'/page/' + ${currentPage} + '?searchTerm=' + ${searchTerm} + '&sortField=overallAffordabilityRating&sortDirection=asc'}">Lowest Rated</a>
                </div>
            </div>
        </div>
        <div class="dropdown" id="safety-dropdown">
            <div class="btn-group mr-2" role="group" aria-label="First group">
                <button type="button" class="btn btn-secondary dropdown-toggle bg-info" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">Safety & Security</button>
                <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
                    <a class="dropdown-item" th:href="@{'/page/' + ${currentPage} + '?searchTerm=' + ${searchTerm} + '&sortField=overallSafetyRating&sortDirection=desc'}">Top Rated</a>
                    <a class="dropdown-item" th:href="@{'/page/' + ${currentPage} + '?searchTerm=' + ${searchTerm} + '&sortField=overallSafetyRating&sortDirection=asc'}">Lowest Rated</a>
                </div>
            </div>
        </div>
        <div class="dropdown" id="transportation-dropdown">
            <div class="btn-group mr-2" role="group" aria-label="First group">
                <button type="button" class="btn btn-secondary dropdown-toggle bg-info" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">Transportation</button>
                <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
                    <a class="dropdown-item" th:href="@{'/page/' + ${currentPage} + '?searchTerm=' + ${searchTerm} + '&sortField=overallTransportationRating&sortDirection=desc'}">Top Rated</a>
                    <a class="dropdown-item" th:href="@{'/page/' + ${currentPage} + '?searchTerm=' + ${searchTerm} + '&sortField=overallTransportationRating&sortDirection=asc'}">Lowest Rated</a>
                </div>
            </div>
        </div>
        <div class="dropdown" id="jobGrowth-dropdown">
            <div class="btn-group mr-2" role="group" aria-label="First group">
                <button type="button" class="btn btn-secondary dropdown-toggle bg-info" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">Job Growth</button>
                <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
                    <a class="dropdown-item" th:href="@{'/page/' + ${currentPage} + '?searchTerm=' + ${searchTerm} + '&sortField=overallJobGrowthRating&sortDirection=desc'}">Top Rated</a>
                    <a class="dropdown-item" th:href="@{'/page/' + ${currentPage} + '?searchTerm=' + ${searchTerm} + '&sortField=overallJobGrowthRating&sortDirection=asc'}">Lowest Rated</a>
                </div>
            </div>
        </div>
        <div class="dropdown" id="school-dropdown">
            <div class="btn-group mr-2" role="group" aria-label="First group">
                <button type="button" class="btn btn-secondary dropdown-toggle bg-info" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">School</button>
                <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
                    <a class="dropdown-item" th:href="@{'/page/' + ${currentPage} + '?searchTerm=' + ${searchTerm} + '&sortField=overallSchoolRating&sortDirection=desc'}">Top Rated</a>
                    <a class="dropdown-item" th:href="@{'/page/' + ${currentPage} + '?searchTerm=' + ${searchTerm} + '&sortField=overallSchoolRating&sortDirection=asc'}">Lowest Rated</a>
                </div>
            </div>
        </div>

        <div class="dropdown" id="sort-by-dropdown">
            <button class="btn btn-secondary dropdown-toggle" type="button" id="sort-by-dropdown-btn" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                Sort by:
            </button>
            <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
                <a class="dropdown-item" th:href="@{'/page/' + ${currentPage} + '?searchTerm=' + ${searchTerm} + '&sortField=overallCityRating&sortDirection=desc'}">Top Rated</a>
                <a class="dropdown-item" th:href="@{'/page/' + ${currentPage} + '?searchTerm=' + ${searchTerm} + '&sortField=overallCityRating&sortDirection=asc'}">Lowest Rated</a>
            </div>
        </div>
        </div>



    <div th:replace="list-cities :: listCities"></div>


</body>
</html>