<!DOCTYPE html>
<html lang="en" xmlns:th="https://www.thymeleaf.org/">
<head th:replace="fragments :: head">
</head>
<body id="search-background">

<div th:if="${session.user}">
        <div th:replace="fragments :: header-authenticated" class="navbar navbar-inverse navbar-fixed-top"></div>
</div>
<div th:unless="${session.user}">
        <div th:replace="fragments :: header-anonymous" class="navbar navbar-inverse navbar-fixed-top"></div>
</div>

<div class="" th:replace="fragments :: search-form"></div>

<div class="jumbotron">
        <div class="row">
                <div class="col-md-4">
                        <div id="carouselExampleControls" class="carousel slide" data-ride="carousel">
                                <div th:if="${city.images != null && city.images.size() > 0}">
                                        <div class="carousel-inner">
                                                <div class="carousel-item active">
                                                        <img class="d-block w-100" th:src="@{'data:image/jpeg;base64,' + ${city.getImages().get(0)}}" alt="First slide">
                                                </div>
                                                <div class="carousel-item" th:each="image : ${city.images}">
                                                        <img class="d-block w-100" th:src="@{'data:image/jpeg;base64,' + ${image}}" alt="Second slide">
                                                </div>
                                        </div>
                                        <a class="carousel-control-prev" href="#carouselExampleControls" role="button" data-slide="prev">
                                                <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                                                <span class="sr-only">Previous</span>
                                        </a>
                                        <a class="carousel-control-next" href="#carouselExampleControls" role="button" data-slide="next">
                                                <span class="carousel-control-next-icon" aria-hidden="true"></span>
                                                <span class="sr-only">Next</span>
                                        </a>
                                </div>
                                <div th:if="${city.images == null}">
                                        <img src="/images/default.jpg" alt="..." class="img-fluid">
                                </div>

                        </div>
                </div>
                <div class="col-md-6">
                        <div>
                                <h1 th:text="${city.cityName} +', ' +${city.stateName}" ></h1>
                                <div class="Stars"
                                     th:style="|--rating: ${overallRating}|" >
                                </div>
                                <!--                                <p th:text="'Overall rating is ' + ${overallRating} + ' based on ' + ${reviews.size()} + ' total reviews.'" ></p>-->
                                <p th:text="'Overall rating is ' + ${overallRating} + ' based on ' + ${sizeOfReviews} + ' total reviews.'" ></p>

                                <a th:href="@{'/review/' + ${city.id}}" >Write a Review</a>
                        </div>
                </div>
                <div class="col-md-2">
                        <div class = "nav justify-content-end">
                                <form method="post" action="/save-city">
                                        <label class="btn btn-success save-compare-btn" for="saveCity">Save</label>
                                        <input type="submit" th:value="${city.id}" id="saveCity" name="savedCityId" onchange="form.submit()" style="display: none;">
                                </form>
                                <a class="btn btn-primary save-compare-btn" th:href="@{'/compare/' + ${city.id}}" role="button">Compare</a>
                        </div>
                </div>
        </div>
</div>

<div class="city-rating-container">
        <h4 class="display-4 text-center" th:text="${city.cityName} +' Ratings'"></h4>
        <div class="card city-rating-card">
                <div class="card-body">
                        <div>
                                <table class="city-rating-table">
                                        <tr>
                                                <td class="rating-category" >Affordability</td>
                                                <td >
                                                        <div class="Stars" th:style="|--rating: ${affordabilityRating}|" ></div>
                                                </td>
                                        </tr>
                                        <tr>
                                                <td class="rating-category">Safety</td>
                                                <td >
                                                        <div class="Stars" th:style="|--rating: ${safetyRating}|" ></div>
                                                </td>
                                        </tr>
                                        <tr>
                                                <td class="rating-category">Job Growth</td>
                                                <td>
                                                        <div class="Stars" th:style="|--rating: ${jobGrowthRating}|" ></div>
                                                </td>
                                        </tr>
                                        <tr>
                                                <td class="rating-category">Schooling</td>
                                                <td>
                                                        <div class="Stars" th:style="|--rating: ${schoolRating}|" ></div>
                                                </td>
                                        </tr>
                                        <tr>
                                                <td class="rating-category">Transportation</td>

                                                <td>
                                                        <div class="Stars" th:style="|--rating: ${transportationRating}|" ></div>
                                                </td>
                                        </tr>
                                </table>
                        </div>
                </div>
        </div>
</div>

<div class="container-fluid view-filtering-container">

        <div class="row">
                <div class="col-xs px-md-5 justify-content-start">
                        <h6 class="text-center"><em th:text="${sizeOfReviews + ' Ratings'}"></em></h6>
                        <div class="container-item-filter-by-star">
                                <div class="Stars" th:style="|--rating: 4|" ></div>
                                <a th:href="@{'/view/' + ${city.id} + '/' + ${currentPage} + '?searchTermForReviews=' + ${searchTermForReviews} + '&sortField=reviewDate&sortDirection=desc' + '&starRatingForReviews=' + 4 +'#targetUserReviews'}">4 & up</a>
                        </div>
                        <div class="container-item-filter-by-star">
                                <div class="Stars" th:style="|--rating: 3|" ></div>
                                <a th:href="@{'/view/' + ${city.id} + '/' + ${currentPage} + '?searchTermForReviews=' + ${searchTermForReviews} + '&sortField=reviewDate&sortDirection=desc' + '&starRatingForReviews=' + 3 +'#targetUserReviews'}">3 & up</a>
                        </div>
                        <div class="container-item-filter-by-star">
                                <div class="Stars" th:style="|--rating: 2|" ></div>
                                <a th:href="@{'/view/' + ${city.id} + '/' + ${currentPage} + '?searchTermForReviews=' + ${searchTermForReviews} + '&sortField=reviewDate&sortDirection=desc' + '&starRatingForReviews=' + 2 +'#targetUserReviews'}">2 & up</a>
                        </div>
                        <div class="container-item-filter-by-star">
                                <div class="Stars" th:style="|--rating: 1|" ></div>
                                <a th:href="@{'/view/' + ${city.id} + '/' + ${currentPage} + '?searchTermForReviews=' + ${searchTermForReviews} + '&sortField=reviewDate&sortDirection=desc' + '&starRatingForReviews=' + 1 +'#targetUserReviews'}">1 & up</a>
                        </div>
                </div>

                <div class="col-xs w-50">
                        <h4 class="text-center lead">Read reviews that mention</h4>
                        <div class="row p-2 justify-content-center">
                                <div  class="btn-group " th:each="x :${#numbers.sequence(0,wordsForFilterReviews.length-1)}"  >
                                        <form th:action="@{'/view/' + ${city.id} + '/1'+ '#targetUserReviews'}" method="get">
                                                <input type="hidden" class="search" th:value="${wordsForFilterReviews[x]}" id="searchTermForReviews" name="searchTermForReviews"/>
                                                <button type="submit" class="btn btn-outline-success mr-1" value="Search" ><span th:text="${wordsForFilterReviews[x]}"></span></button>
                                        </form>
                                </div>
                                <form th:action="@{'/view/' + ${city.id} + '/1'+ '#targetUserReviews'}" method="get">
                                        <input type="hidden" class="search" value="" id="searchTermForReviews2" name="searchTermForReviews"/>
                                        <button type="submit" class="btn btn-secondary mr-1" value="Search" >Clear</button>
                                </form>
                        </div>
                        <form class="col-xs-3" th:action="@{'/view/' + ${city.id} + '/1'+ '#targetUserReviews'}" method="get">
                                <div class="input-group mb-3 p-4 justify-content-center">
                                        <input type="text" class="search form-control" id="searchTermForReviews1" name="searchTermForReviews" placeholder="Search user reviews"/>
                                        <div class="input-group-append">
                                                <button type="submit" class="btn btn-info" value="Search">Search</button>
                                        </div>
                                </div>
                        </form>
                </div>

                <div class="dropdown col px-md-5 p-5 sort-btn-view" id="sort-by-dropdown">
                        <button class="btn btn-secondary dropdown-toggle" type="button" id="sort-by-dropdown-btn" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                Sort by:
                        </button>
                        <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
                                <a class="dropdown-item" th:href="@{'/view/' + ${city.id} + '/' + ${currentPage} + '?searchTermForReviews=' + ${searchTermForReviews} + '&sortField=reviewDate&sortDirection=desc' + '&starRatingForReviews=' + ${starRatingForReviews} +'#targetUserReviews'}">Most Recent</a>
                                <a class="dropdown-item" th:href="@{'/view/' + ${city.id} + '/' + ${currentPage} + '?searchTermForReviews=' + ${searchTermForReviews} + '&sortField=reviewDate&sortDirection=asc' + '&starRatingForReviews=' + ${starRatingForReviews} +'#targetUserReviews'}">Oldest</a>
                                <a class="dropdown-item" th:href="@{'/view/' + ${city.id} + '/' + ${currentPage} + '?searchTermForReviews=' + ${searchTermForReviews} + '&sortField=overallRating&sortDirection=asc' + '&starRatingForReviews=' + ${starRatingForReviews} +'#targetUserReviews'}">Highest Overall Rating</a>
                                <a class="dropdown-item" th:href="@{'/view/' + ${city.id} + '/' + ${currentPage} + '?searchTermForReviews=' + ${searchTermForReviews} + '&sortField=overallRating&sortDirection=desc' + '&starRatingForReviews=' + ${starRatingForReviews} +'#targetUserReviews'}">Lowest Overall Rating</a>
                        </div>
                </div>
        </div>
</div>

<div class="city-view-card">

        <h2 class="review-header"><a id="targetUserReviews">User Reviews</a></h2>

        <div class="jumbotron review-display" th:if="${reviews.size()==0 && searchTermForReviews != ''}">
                <h5 th:text="${'No reviews with `' + searchTermForReviews  + '`'}"></h5>
                <a th:href="@{'/review/' + ${city.id}}" >Write a Review</a>
        </div>

        <div class="jumbotron review-display" th:if="${reviews.size()==0 && searchTermForReviews == ''}">
                <h5>No reviews submitted yet.</h5>
                <a th:href="@{'/review/' + ${city.id}}" >Write a Review</a>
        </div>

        <div th:each="i : ${#numbers.sequence(reviews.size() -1, 0, -1)}">
                <th:block th:unless="${reviews[i].title=='' and reviews[i].comment==''}">
                        <div class="jumbotron review-display">
                                <!--                                <div class="row">-->
                                <!--                                    <h3 th:text = "${reviews[i].title}"></h3>-->
                                <!--                                    <div class="Stars px-md-5" th:style="|&#45;&#45;rating: ${reviews[i].overallRating}|" ></div>-->
                                <!--                                </div>-->

                                <h3 th:text = "${reviews[i].title}"></h3>
                                <hr class="my-4">
                                <div class="user-rating-display">
                                        <table class="user-rating-display-table">
                                                <tr>
                                                        <td>Overall Rating</td>
                                                        <td class="Stars px-md-5" th:style="|&#45;&#45;rating: ${reviews[i].overallRating}|"></td>
                                                </tr>
                                                <tr>
                                                        <td>Affordability Rating</td>
                                                        <td class="Stars px-md-5" th:style="|&#45;&#45;rating: ${reviews[i].affordabilityRating}|"></td>
                                                </tr>
                                                <tr>
                                                        <td>Safety Rating</td>
                                                        <td class="Stars px-md-5" th:style="|&#45;&#45;rating: ${reviews[i].safetyRating}|"></td>
                                                </tr>
                                                <tr>
                                                        <td>Job Growth Rating</td>
                                                        <td class="Stars px-md-5" th:style="|&#45;&#45;rating: ${reviews[i].jobGrowthRating}|"></td>
                                                </tr>
                                                <tr>
                                                        <td>School Rating</td>
                                                        <td class="Stars px-md-5" th:style="|&#45;&#45;rating: ${reviews[i].schoolRating}|"></td>
                                                </tr>
                                                <tr>
                                                        <td>Transportation Rating</td>
                                                        <td class="Stars px-md-5" th:style="|&#45;&#45;rating: ${reviews[i].transportationRating}|"></td>
                                                </tr>
                                        </table>
                                </div>

                                <div th:if="${reviews[i].cityImage != null && reviews[i].cityImage.size() > 0}" class="user-images-display">
                                        <th:block th:each="img:${reviews[i].cityImage}">
                                                <img class="user-submitted-images" th:src="@{'data:image/jpeg;base64,' + ${img}}">
                                        </th:block>
                                        <div class="view-lg-img-btn">
                                                <button type="button" class="btn btn-success" data-toggle="modal" data-target="#imagesModalCenter" th:attr="data-target='#imagesModalCenter'+${reviews[i].id}" th:data-images="${reviews[i].cityImage}">
                                                        View Images in Larger Size
                                                </button>
                                        </div>
                                        <div class="modal fade bs-example-modal-lg" th:id="imagesModalCenter+${reviews[i].id}" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true" th:data-images="${reviews[i].cityImage}">
                                                <div class="modal-dialog modal-dialog-centered">
                                                        <div class="modal-content">
                                                                <div class="modal-header">
                                                                        <h5 class="modal-title" id="exampleModalLongTitle">User Submitted Images</h5>
                                                                        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                                                                <span aria-hidden="true">&times;</span>
                                                                        </button>
                                                                </div>
                                                                <div class="modal-body">
                                                                        <div id="carouselControls" class="carousel slide" data-ride="carousel">
                                                                                <div class="carousel-inner">
                                                                                        <div class="carousel-item active">
                                                                                                <img class="d-block w-100" th:src="@{'data:image/jpeg;base64,' + ${reviews[i].cityImage.get(0)}}">
                                                                                        </div>
                                                                                        <div class="carousel-item" th:each="image : ${reviews[i].cityImage}">
                                                                                                <img class="d-block w-100" th:src="@{'data:image/jpeg;base64,' + ${image}}">
                                                                                        </div>
                                                                                </div>
                                                                                <a class="carousel-control-prev" href="#carouselControls" role="button" data-slide="prev">
                                                                                        <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                                                                                        <span class="sr-only">Previous</span>
                                                                                </a>
                                                                                <a class="carousel-control-next" href="#carouselControls" role="button" data-slide="next">
                                                                                        <span class="carousel-control-next-icon" aria-hidden="true"></span>
                                                                                        <span class="sr-only">Next</span>
                                                                                </a>
                                                                        </div>
                                                                </div>
                                                        </div>
                                                </div>
                                        </div>
                                </div>

                                <div th:if="${searchTermForReviews == null || searchTermForReviews == ''}">
                                        <hr class="my-4">
                                        <p class="lead">
                                        <p th:utext = "${reviews[i].comment}"></p>
                                        </p>
                                </div>

                                <span th:each="j :${#numbers.sequence(0,wordListToHighlight.size()-1)}">
                                        <div th:if="${searchTermForReviews != null && searchTermForReviews != '' && reviews[i].comment.matches('(.* )?' + wordListToHighlight[j] + '( .*)?')}" >
                                                 <p class="lead">
                                                        <p th:utext="${reviews[i].comment.replace(wordListToHighlight[j], highlightWordStyle + wordListToHighlight[j] + '</span>')}"></p>
                                                </p>
                                        </div>
                                </span>

                                <hr class="my-4">
                                <a class="review-date" th:href="@{/view-profile(userId=${reviews[i].getUser().id})}" th:text =
                                           "${reviews[i].getUser().username} + ' submitted the review on ' + ${reviews[i].reviewDate}"></a>                                <p class="review-date" th:if="${reviews[i].getUser().equals(user)}">
                                        <a th:href="@{'/review/edit/' + ${reviews[i].id}}">Edit this review </a>

                                        <a th:href="@{'/review/delete/' + ${reviews[i].id}}"> Delete this review</a>
                                        <!--<a th:href="@{'/review/delete/' + ${reviews[i].id}}">Delete this review</a>-->


                                <!--                                <th:block th:if="${reviews[i].getUser() != null}">-->
                                <!--                                        <p class="review-date" th:text = "${reviews[i].getUser().username} + ' submitted the review on ' + ${reviews[i].reviewDate}"></p>-->
                                <!--                                        <p class="review-date" th:if="${reviews[i].getUser().equals(user)}">-->
                                <!--                                                <a th:href="@{'/review/edit/' + ${reviews[i].id}}">Edit this review</a>-->
                                <!--                                        </p>-->
                                <!--                                </th:block>-->
                        </div>
                </th:block>
        </div>


        <div th:if = "${totalPages > 1}">
                <div class="row">
                        <div class="col-lg-6 offset-lg-3 py-5 border">
                                <nav>
                                        <ul class="pagination justify-content-center flex-wrap">

                                                <li class="page-item">
                                                        <a class="page-link" th:if="${currentPage > 1}" th:href="@{'/view/' + ${city.id} + '/1' + '?searchTermForReviews=' + ${searchTermForReviews} + '&sortField=' + ${sortField} + '&sortDirection=' + ${sortDirection} + '&starRatingForReviews=' + ${starRatingForReviews} + '#targetUserReviews'}">First</a>
                                                </li>
                                                <li class="page-item">
                                                        <a class="page-link" th:if="${currentPage > 1}" th:href="@{'/view/' + ${city.id} + '/' + ${currentPage - 1} + '?searchTermForReviews=' + ${searchTermForReviews} + '&sortField=' + ${sortField} + '&sortDirection=' + ${sortDirection}+ '&starRatingForReviews=' + ${starRatingForReviews} +'#targetUserReviews'}">Previous</a>
                                                        <!--                                                        <span th:unless="${currentPage < totalPages}"><a class="page-link">Previous</a></span>-->
                                                </li>

                                                <th:block th:if="${totalPages <= 10}">
                                                        <li class="page-item" th:each="i: ${#numbers.sequence(1, totalPages)}">
                                                                <a class="page-link" th:if="${currentPage != i}" th:href="@{'/view/' + ${city.id} + '/' + ${i} + '?searchTermForReviews=' + ${searchTermForReviews} + '&sortField=' + ${sortField} + '&sortDirection=' + ${sortDirection}+ '&starRatingForReviews=' + ${starRatingForReviews} +'#targetUserReviews'}">[[${i}]]</a>
                                                                <span th:unless="${currentPage != i }"><a class="page-link">[[${i}]]</a></span>

                                                        </li>
                                                </th:block>

                                                <th:block th:if="${totalPages > 10}">
                                                        <th:block th:if="${currentPage <= 5 || currentPage >= totalPages - 4}">
                                                                <li class="page-item" th:each="i: ${#numbers.sequence(1, 5)}">
                                                                        <a class="page-link" th:if="${currentPage != i}" th:href="@{'/view/' + ${city.id} + '/' + ${i} + '?searchTermForReviews=' + ${searchTermForReviews} + '&sortField=' + ${sortField} + '&sortDirection=' + ${sortDirection}+ '&starRatingForReviews=' + ${starRatingForReviews} +'#targetUserReviews'}">[[${i}]]</a>
                                                                        <span th:unless="${currentPage != i }"><a class="page-link">[[${i}]]</a></span>

                                                                </li>
                                                                <a th:href="@{'/page/' + 6 + '?searchTerm=' + ${searchTerm}}" class="page-link">...</a>

                                                                <li class="page-item" th:each="i: ${#numbers.sequence(totalPages -4 , totalPages)}" >
                                                                        <a class="page-link" th:if="${currentPage != i}" th:href="@{'/view/' + ${city.id} + '/' + ${i} + '?searchTermForReviews=' + ${searchTermForReviews} + '&sortField=' + ${sortField} + '&sortDirection=' + ${sortDirection}+ '&starRatingForReviews=' + ${starRatingForReviews} +'#targetUserReviews'}" >[[${i}]]</a>
                                                                        <span th:unless="${currentPage != i }"><a class="page-link">[[${i}]]</a></span>

                                                                </li>
                                                        </th:block>

                                                        <th:block th:if="${currentPage > 5 && currentPage < totalPages -4}">

                                                                <a th:href="@{'/view/' + ${city.id} + '/' + ${currentPage - 5} + '?searchTermForReviews=' + ${searchTermForReviews} + '&sortField=' + ${sortField} + '&sortDirection=' + ${sortDirection}+ '&starRatingForReviews=' + ${starRatingForReviews} +'#targetUserReviews'}" class="page-link">...</a>

                                                                <li class="page-item" th:each="i: ${#numbers.sequence(currentPage -4 , currentPage + 4)}">
                                                                        <a class="page-link" th:if="${currentPage != i}" th:href="@{'/view/' + ${city.id} + '/' + ${i} + '?searchTermForReviews=' + ${searchTermForReviews} + '&sortField=' + ${sortField} + '&sortDirection=' + ${sortDirection}+ '&starRatingForReviews=' + ${starRatingForReviews} + '#targetUserReviews'}">[[${i}]]</a>
                                                                        <span th:unless="${currentPage != i }" ><a class="page-link">[[${i}]]</a></span>

                                                                </li>

                                                                <a th:href="@{'/view/' + ${city.id} + '/' + ${currentPage + 5} + '?searchTermForReviews=' + ${searchTermForReviews} + '&sortField=' + ${sortField} + '&sortDirection=' + ${sortDirection}+ '&starRatingForReviews=' + ${starRatingForReviews} +'#targetUserReviews'}" class="page-link">...</a>

                                                        </th:block>

                                                </th:block>

                                                <li class="page-item">
                                                        <a class="page-link" th:if="${currentPage < totalPages}" th:href="@{'/view/' + ${city.id} + '/' + ${currentPage + 1} + '?searchTermForReviews=' + ${searchTermForReviews} + '&sortField=' + ${sortField} + '&sortDirection=' + ${sortDirection}+ '&starRatingForReviews=' + ${starRatingForReviews} +'#targetUserReviews'}">Next</a>
                                                        <!--                                                        <span th:unless="${currentPage < totalPages}"><a class="page-link">Next</a></span>-->
                                                </li>

                                                <li class="page-item">
                                                        <a class="page-link" th:if="${currentPage < totalPages}" th:href="@{'/view/' + ${city.id} + '/' + ${totalPages} + '?searchTermForReviews=' + ${searchTermForReviews} +'&sortField=' + ${sortField} + '&sortDirection=' + ${sortDirection}+ '&starRatingForReviews=' + ${starRatingForReviews} +'#targetUserReviews'}">Last</a>
                                                        <!--                                                        <span th:unless="${currentPage < totalPages}"><a class="page-link">Last</a></span>-->
                                                </li>
                                        </ul>
                                </nav>
                        </div>
                </div>
        </div>
</div>

</body>
<div th:replace="fragments :: footer"></div>
</html>